[% IF service.match('.*localhost.*') %]
	[% title = "PingER Tests" %]
[% ELSE %]
	[% title = "PingER Tests At ${service}" %]
[% END %]

[% INCLUDE header.tmpl %]

<div class="mainContainer">
<div class="rContainer">
<div class="subTitle1">[% title %]</div>

<div class="rcontainer">
    <table class="basic_table" width="80%" align="center" cellpadding="1" border="2">
      <tr>
      <th colspan=5 style="text-align: center">Active Data Sets</th>
      </tr>
      <tr>
        <th align="center">Source Address</th>
        <th align="center">Source Host</th>
        <th align="center">Destination Address</th>
        <th align="center">Destination Host</th>
        <th align="center">Graph</th>
      </tr>
      [% FOREACH pair IN pairs %]
      <tr>
        <td align="center">
          [% pair.saddress %]&nbsp;
        </td>
        <td align="center">
          [% pair.shost %]&nbsp;
        </td>
        <td align="center">
          [% pair.daddress %]&nbsp;
        </td>
        <td align="center">
          [% pair.dhost %]&nbsp;
        </td>
        <td align="center">
          <select value="Graph" id="graph1_[% pair.count %]" name="graph1_[% pair.count %]" onChange="window.open(options[selectedIndex].value,'graph1_[% pair.count %]','width=950,height=500,status=yes,scrollbars=yes,resizable=yes')">
            <option selected value="./PingERGraph.cgi">-- Select --</option>
            <option value="./PingERGraph.cgi?url=[% pair.service %]&key=[% pair.key %]&key2=[% pair.key2 %]&dst=[% pair.daddress %]&src=[% pair.saddress %]&dhost=[% pair.dhost %]&shost=[% pair.shost %]&length=43200">12 Hours</option>
            <option value="./PingERGraph.cgi?url=[% pair.service %]&key=[% pair.key %]&key2=[% pair.key2 %]&dst=[% pair.daddress %]&src=[% pair.saddress %]&dhost=[% pair.dhost %]&shost=[% pair.shost %]&length=86400">24 Hours</option>
            <option value="./PingERGraph.cgi?url=[% pair.service %]&key=[% pair.key %]&key2=[% pair.key2 %]&dst=[% pair.daddress %]&src=[% pair.saddress %]&dhost=[% pair.dhost %]&shost=[% pair.shost %]&length=172800">48 Hours</option>
          </select>
        </td>
      </tr>
      [% END %]
    </table>

    <table class="basic_table" width="80%" align="center" cellpadding="1" border="2">
      <tr>
      <th colspan=5 style="text-align: center">Non-Active Data Sets</th>
      </tr>
      <tr>
        <th align="center">Source Address</th>
        <th align="center">Source Host</th>
        <th align="center">Destination Address</th>
        <th align="center">Destination Host</th>
        <th align="center">Graph</th>
      </tr>
      [% FOREACH pair IN histpairs %]
      <tr>
        <td align="center">
          [% pair.saddress %]&nbsp;
        </td>
        <td align="center">
          [% pair.shost %]&nbsp;
        </td>
        <td align="center">
          [% pair.daddress %]&nbsp;
        </td>
        <td align="center">
          [% pair.dhost %]&nbsp;
        </td>               
        <td align="center">
          <form method="GET" name="form_[% pair.count %]" target="_blank" action="./PingERGraph.cgi">
            <input type="hidden" name="url" value="[% pair.service %]" />
            <input type="hidden" name="key" value="[% pair.key %]" />
            <input type="hidden" name="key2" value="[% pair.key2 %]" />
            <input type="hidden" name="dst" value="[% pair.daddress %]" />
            <input type="hidden" name="src" value="[% pair.saddress %]" />
            <input type="hidden" name="dhost" value="[% pair.dhost %]" />
            <input type="hidden" name="shost" value="[% pair.shost %]" />                           
            
            Start: <select id="smon" name="smon">
            [% FOREACH mon IN pair.smon %]
              [% IF mon.selected %]
              <option selected value="[% mon.value %]">[% mon.name %]</option>
              [% ELSE %]
              <option value="[% mon.value %]">[% mon.name %]</option>
              [% END %]
            [% END %]
            </select>
            <select id="sday" name="sday">
            [% FOREACH day IN pair.sday %]
              [% IF day.selected %]
              <option selected value="[% day.value %]">[% day.name %]</option>
              [% ELSE %]
              <option value="[% day.value %]">[% day.name %]</option>
              [% END %]
            [% END %]
            </select>
            <select id="syear" name="syear">
            [% FOREACH year IN pair.syear %]
              [% IF year.selected %]
              <option selected value="[% year.value %]">[% year.name %]</option>
              [% ELSE %]
              <option value="[% year.value %]">[% year.name %]</option>
              [% END %]
            [% END %]
            </select><br>
            
            End: &nbsp;<select id="dmon" name="dmon">
            [% FOREACH mon IN pair.dmon %]
              [% IF mon.selected %]
              <option selected value="[% mon.value %]">[% mon.name %]</option>
              [% ELSE %]
              <option value="[% mon.value %]">[% mon.name %]</option>
              [% END %]
            [% END %]
            </select>
            <select id="dday" name="dday">
            [% FOREACH day IN pair.dday %]
              [% IF day.selected %]
              <option selected value="[% day.value %]">[% day.name %]</option>
              [% ELSE %]
              <option value="[% day.value %]">[% day.name %]</option>
              [% END %]
            [% END %]
            </select>
            <select id="dyear" name="dyear">
            [% FOREACH year IN pair.dyear %]
              [% IF year.selected %]
              <option selected value="[% year.value %]">[% year.name %]</option>
              [% ELSE %]
              <option value="[% year.value %]">[% year.name %]</option>
              [% END %]
            [% END %]
            </select><br>
            <input type="submit" name="Graph" value="Graph" />
          </form>
        </td>
      </tr>
      [% END %]
    </table>

</div>
</div>
</div>

[% INCLUDE footer.tmpl %]
