[% title = "Service Display" %]

[% INCLUDE header.tmpl %]

<div class="mainContainer">
<div class="rcontainer">

    <center>
    <table class="basic_table">
    	<tr><th>Problem Handling Request</ht></tr>
    	<tr><td>[% error_msg %]</td></tr>
    </table>
    </center>

</div>
</div>

[% INCLUDE footer.tmpl %]
