<div class="mainContainer">
<div class="subTitle1">Administrative Information Configuration Tool</div>

<center><font color="red"><div id="web_admin_error">[% error_message %]</div></font></center>
[% IF warning_message %]
<div class="warning status">[% warning_message %]</div>
[% END %]
<center><div id="web_admin_status">[% status_message %]</div></center>

<input type="hidden" id="nptoolkit_is_modified" value="[% is_modified %]" />
<input type="hidden" id="organization_name" value="[% organization_name %]" />
<input type="hidden" id="host_location" value="[% location %]" />
<input type="hidden" id="host_city" value="[% city %]" />
<input type="hidden" id="host_state" value="[% state %]" />
<input type="hidden" id="host_country" value="[% country %]" />
<input type="hidden" id="host_zipcode" value="[% zipcode %]" />
<input type="hidden" id="administrator_name" value="[% administrator_name %]" />
<input type="hidden" id="administrator_email" value="[% administrator_email %]" />
<input type="hidden" id="host_latitude" value="[% latitude %]" />
<input type="hidden" id="host_longitude" value="[% longitude %]" />

<input class="button" type="submit" name="save" id="save" value="Save" onClick="handle_save_config()">
<input class="button" type="submit" name="reset" id="reset" value="Reset" onClick="handle_reset_config()">

<table class="basic_table">
        <tr>
        <th style="width: 200px">Host Information</th><th style="width: 200px; text-align: right"><a href="#" onClick="display_modify_host_information_dialog()">Edit</a></th>
        </tr>
        <tr class="[% organization_name_class %]">
        <td>Organization Name</td><td>[% organization_name %]</td>
        <tr>
        <tr class="[% city_class %]">
        <td>City</td><td>[% city %]</td>
        </tr>
        <tr class="[% state_class %]">
        <td>State</td><td>[% state %]</td>
        </tr>
        <tr class="[% country_class %]">
        <td>Country (ISO3166 2 letter codes)</td><td>[% country %]</td>
        </tr>
        <tr class="[% zipcode_class %]">
        <td>Zip Code</td><td>[% zipcode %]</td>
        </tr>
        <tr></tr>
        <tr class="[% administrator_name_class %]">
        <td>Administrator Name</td><td>[% administrator_name %]</td>
        </tr>
        <tr class="[% administrator_email_class %]">
        <td>Administrator Email</td><td>[% administrator_email %]</td>
        </tr>
        <tr></tr>
        <tr class="[% latitude_class %]">
        <td>Latitude (-90 to 90) </td><td>[% latitude %]</td>
        </tr>
        <tr class="[% longitude_class %]">
        <td>Longitude (-180 to 180)</td><td>[% longitude %]</td>
        </tr>
</table>

[% USE date %]

<table class="basic_table" id="hosts_communities_list">
        <tr><th style="width: 600px"colspan=2>Communities<span id="communities_help"><sup>[1]</sup></span> This Host Participates In</th></tr>
        [% FOREACH keyword IN configured_keywords %]
        <tr><td style="width: 400px">[% keyword %]</td><td style="width: 200px"><a href="#" onClick="delete_keyword('[% keyword %]')">Delete</a>
        [% END %]
        <tr><td colspan=2><a href="#" onClick="display_add_keyword_dialog()">Add New Community</a></td></tr>
	<tr>
</table>

<table class="basic_table" id="popular_communities_list">
<tr><th style="width: 600px">Popular Communities [% IF known_keywords_check_time %] As Of [% date.format(known_keywords_check_time, '%Y-%m-%d %H:%M') %] [% END %] (Click To Join)</th></tr>
[% IF known_keywords_check_time < (date.now - 24*60*60) %]
<span dojoType="dijit.Tooltip" connectId="keyword_results_out_of_date_msg" toggle="fade">
This error likely means that the caching program is either not running or is failing.<br>
Make sure that cron is running and that the host has network connectivity.<br>
If both are working and it's still failing, email the user list.
</span>
<tr><td><div id="keyword_results_out_of_date_msg" style="color:red">The list of popular communities may be out of date. Ensure that the caching program is correctly running.</div></tr></td>
[% END %]

<tr><td>
<ul class="tagcloud">
[% FOREACH keyword_info IN known_keywords %]
    <li><a class="tag[% keyword_info.class %]" href="#" onClick="add_keyword('[% keyword_info.keyword %]')">[% keyword_info.keyword %]</a></li>
[% END %]
</ul>
</td></tr>
</table>

<span dojoType="dijit.Tooltip" connectId="communities_help">
Community identification enables other members of your community to find your
perfSONAR services. For instance, if your deployment is associated with a
specific scientific project (e.g. LHC, eVLBI), or has access to a certain
network (e.g.  Internet2, ESnet), you might select these communities.
</span>

<input class="button" type="submit" name="save" id="save" value="Save" onClick="handle_save_config()">
<input class="button" type="submit" name="reset" id="reset" value="Reset" onClick="handle_reset_config()">

</div>

<div id="dialog_modify_host_information" dojoType="dijit.Dialog" title="Set Host Information">
<table>
<tr>
<td class="[% organization_name_class %]">
Organization Name
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_organization_name" size="20" />
</td>
</tr>
<tr>
<td class="[% city_class %]">
City
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_host_city" size="20" />
</td>
</tr>
<tr>
<td class="[% state_class %]">
State
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_host_state" size="20" />
</td>
</tr>
<tr>
<td class="[% country_class %]">
Country (Please enter ISO3166 2 letter country codes. Eg: US, UK, IN)
</td>
<td>
<div data-dojo-type="dojox/data/CsvStore"
    data-dojo-id="stateStore"
    data-dojo-props="url:'/toolkit/admin/administrative_info/data/countries.csv'"></div>
<input input data-dojo-type="dijit/form/FilteringSelect"
    data-dojo-props="store:stateStore, searchAttr:'code', labelAttr:'country (code)', identifier:'code'"
    name="country" id="modify_host_information_host_country" size="20"/>
</td>
</tr>
<tr>
<td class="[% zipcode_class %]">
Zip Code
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_host_zipcode" size="20" />
</td>
</tr>
<tr>
<td class="[% administrator_name_class %]">
Administrator Name
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_administrator_name" size="20" />
</td>
</tr>
<tr>
<td class="[% administrator_email_class %]">
Administrator Email
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_administrator_email" size="20" />
<input id="subscribe" name="subscribe" dojoType="dijit.form.CheckBox" value="agreed" > <label for="subscribe">Subscribe to NP Toolkit user list</label>
</td>
</tr>
<tr>
<td class="[% latitude_class %]">
Latitude (Range: -90 to 90. Eg: -32.4567, 40.2345)
</td>
<td>
<input dojoType="dijit.form.NumberTextBox" type="text" id="modify_host_information_host_latitude" data-dojo-props="constraints:{min:-90,max:90,places:'0,15'}",size="20" />
</td>
</tr>
<tr>
<td class="[% longitude_class %]">
Longitude (Range: -180 to 180. Eg: -92.4567, 140.2345)
</td>
<td>
<input dojoType="dijit.form.NumberTextBox" type="text" id="modify_host_information_host_longitude" data-dojo-props="constraints:{min:-180,max:180,places:'0,15'}" size="20" />
</td>
</tr>
</table>

<input class="button" type="button" value="OK" onClick="dijit.byId('dialog_modify_host_information').hide(); handle_modify_host_information();"/>
<input class="button" type="button" value="Cancel" onClick="dijit.byId('dialog_modify_host_information').hide();">
</div>
