[% title = "Administrative Information Configuration Tool" %]

[% INCLUDE header.tmpl %]

<script type="text/javascript">
function handle_reset_config() {
	handle_cgi_ajax_call('Reseting configuration...', 'Problem reseting configuration', true, 'reset_config');
}

function handle_save_config() {
	handle_cgi_ajax_call('Saving configuration and restarting services...', 'Problem saving configuration or restarting services', true, 'save_config');
}

function delete_keyword(keyword) {
	handle_cgi_ajax_call(null, 'Problem deleting keyword ' + keyword, true, 'delete_keyword', [ keyword ]);
}

function add_keyword(keyword) {
	handle_cgi_ajax_call(null, 'Problem adding keyword ' + keyword, true, 'add_keyword', [ keyword ]);
}

function handle_modify_host_information() {
	var city = dijit.byId('modify_host_information_host_city').attr('value');
	var state = dijit.byId('modify_host_information_host_state').attr('value');
	var country = dijit.byId('modify_host_information_host_country').attr('displayedValue');
        console.log(country);
	var zipcode = dijit.byId('modify_host_information_host_zipcode').attr('value');
	var latitude = '';
	if(dijit.byId('modify_host_information_host_latitude').isValid() &&
	    !isNaN(dijit.byId('modify_host_information_host_latitude').attr('value'))){
	    latitude = dijit.byId('modify_host_information_host_latitude').attr('value');
	}
	var longitude = '';
	if(dijit.byId('modify_host_information_host_longitude').isValid() &&
	    !isNaN(dijit.byId('modify_host_information_host_longitude').attr('value'))){
	    longitude = dijit.byId('modify_host_information_host_longitude').attr('value');
	}
	var organization_name = dijit.byId('modify_host_information_organization_name').attr('value');
	var administrator_email = dijit.byId('modify_host_information_administrator_email').attr('value');
	var administrator_name = dijit.byId('modify_host_information_administrator_name').attr('value');

    var subscribe = dijit.byId('subscribe').attr('checked');
    var existing_email = dojo.byId('administrator_email').value;

	handle_cgi_ajax_call(null, 'Problem setting host information', true, 'set_host_information', [ organization_name, host_location, city, state, country, zipcode, administrator_name, administrator_email, latitude, longitude, subscribe ]);
}

function display_modify_host_information_dialog() {
	console.log("display_modify_host_information_dialog()");

//	var host_location = dojo.byId('host_location').value;
	var organization_name = dojo.byId('organization_name').value;
	var administrator_email = dojo.byId('administrator_email').value;
	var administrator_name = dojo.byId('administrator_name').value;
	var city = dojo.byId('host_city').value;
	var state = dojo.byId('host_state').value;
	var country = dojo.byId('host_country').value;
	var zipcode = dojo.byId('host_zipcode').value;
	var latitude = dojo.byId('host_latitude').value;
	var longitude = dojo.byId('host_longitude').value;
	

//	dijit.byId('modify_host_information_host_location').attr('value', host_location);
	dijit.byId('modify_host_information_host_city').attr('value', city);
	dijit.byId('modify_host_information_host_state').attr('value', state);
	dijit.byId('modify_host_information_host_country').attr('displayedValue', country);
	dijit.byId('modify_host_information_host_zipcode').attr('value', zipcode);
	dijit.byId('modify_host_information_host_latitude').attr('value', latitude);
	dijit.byId('modify_host_information_host_longitude').attr('value', longitude);
	dijit.byId('modify_host_information_organization_name').attr('value', organization_name);
	dijit.byId('modify_host_information_administrator_email').attr('value', administrator_email);
	dijit.byId('modify_host_information_administrator_name').attr('value', administrator_name);

	dijit.byId('dialog_modify_host_information').show();
}

function display_add_keyword_dialog() {
	console.log("display_modify_host_information_dialog()");

	dijit.byId('add_new_community_community').attr('value', '');

	dijit.byId('dialog_add_new_community').show();
}

function handle_add_new_community() {
	var community = dijit.byId('add_new_community_community').attr('value');

	add_keyword(community);
}


</script>


<div id="body" dojoType="dijit.layout.ContentPane">
[% INCLUDE body.tmpl %]
</div>

<div id="dialog_modify_host_information" dojoType="dijit.Dialog" title="Set Host Information">
<table>
<tr>
<td>
Organization Name
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_organization_name" size="20" />
</td>
</tr>
<tr>
<td>
City
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_host_city" size="20" />
</td>
</tr>
<tr>
<td>
State
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_host_state" size="20" />
</td>
</tr>
<tr>
<td>
Country (Please enter ISO3166 2 letter country codes. Eg: US, UK, IN)
</td>
<td>
<div data-dojo-type="dojox/data/CsvStore"
    data-dojo-id="stateStore"
    data-dojo-props="url:'/toolkit/admin/administrative_info/data/countries.csv'"></div>
<input input data-dojo-type="dijit/form/FilteringSelect"
    data-dojo-props="store:stateStore, searchAttr:'code', labelAttr:'country (code)', identifier:'code'"
    name="country" id="modify_host_information_host_country" size="20"/>
</td>
</tr>
<tr>
<td>
Zip Code
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_host_zipcode" size="20" />
</td>
</tr>
<tr>
<td>
Administrator Name
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_administrator_name" size="20" />
</td>
</tr>
<tr>
<td>
Administrator Email
</td>
<td>
<input dojoType="dijit.form.TextBox" type="text" id="modify_host_information_administrator_email" size="20" />
<input id="subscribe" name="subscribe" dojoType="dijit.form.CheckBox" value="agreed" > <label for="subscribe">Subscribe to NP Toolkit user list</label>
</td>
</tr>
<tr>
<td>
Latitude (Range: -90 to 90. Eg: -32.45, 40.23)
</td>
<td>
<input dojoType="dijit.form.NumberTextBox" type="text" id="modify_host_information_host_latitude" data-dojo-props="constraints:{min:-90,max:90, pattern: '##.##;-##.##'}",size="20" />
</td>
</tr>
<tr>
<td>
Longitude (Range: -180 to 180. Eg: -92.45, 140.23)
</td>
<td>
<input dojoType="dijit.form.NumberTextBox" type="text" id="modify_host_information_host_longitude" data-dojo-props="constraints:{min:-180,max:180, pattern: '###.##;-###.##'}" size="20" />
</td>
</tr>
</table>

<input class="button" type="button" value="OK" onClick="dijit.byId('dialog_modify_host_information').hide(); handle_modify_host_information();"/>
<input class="button" type="button" value="Cancel" onClick="dijit.byId('dialog_modify_host_information').hide();">
</div>

<div id="dialog_add_new_community" dojoType="dijit.Dialog" title="Add New Community">
	<table>
	<tr>
	<td>Community</td>
	<td><input dojoType="dijit.form.TextBox" type="text" id="add_new_community_community" size="20" /></td>
	</tr>
	</table>

	<input class="button" type="button" value="Add" onClick="dijit.byId('dialog_add_new_community').hide(); handle_add_new_community();"/>
	<input class="button" type="button" value="Cancel" onClick="dijit.byId('dialog_add_new_community').hide();">
</div>
[% INCLUDE footer.tmpl %]


