<table class="group_table">
        <tr>
        <th></th><th>Server</th><th>Description</th><th>Actions</th>
        </tr>
        [% FOREACH server_info IN servers %]
        <tr>
                <td align="center"><input type="checkbox" onClick="toggle_server([{args:'[% server_info.address %]'}, '[% server_info.address %]_toggle'],[],'POST')" id="[% server_info.address %]_toggle" [% IF server_info.selected %] checked [% END %] /></td>
                <td>[% server_info.display_address %]</td>
                <td>[% server_info.description %]</td>
                <td>
                    <a href="#" onClick="delete_server([{args:'[% server_info.address %]'}],['web_admin_status','servers'],'POST')">Delete</a>
                </td>
        </tr>
        [% END %]
</table>
