#Ignore mac hidden file
.DS_Store
#Ignore vs_code
.vscode
# Ignore quilt cache directory
.pc/
# Ignore vagrant files
.vagrant
vagrant-data
# Ignore coverage data
cover_db
# Ignore unibuild files 
unibuild-log
unibuild-work/
unibuild-repo/
INSTALLED_FILES
#Additional files
debian/patches/*~
.*.swn
.*.swo
.*.swp
*.pyc
.vagrant
# Ignore unit test output
tap_output/
node_modules
artifacts/
