[submodule "distribution"]
	path = distribution
	url = https://github.com/perfsonar/distribution.git
[submodule "shared"]
	path = shared
	url = https://github.com/perfsonar/perl-shared
[submodule "psconfig"]
	path = psconfig
	url = https://github.com/perfsonar/psconfig
