[submodule "psconfig"]
	path = psconfig
	url = https://github.com/perfsonar/psconfig
[submodule "share"]
	path = share
	url = https://github.com/perfsonar/perl-shared
[submodule "shared"]
	path = shared
	url = https://github.com/perfsonar/perl-shared
