<div class="mainContainer">
<div class="subTitle1">Enabled Services Configuration Tool</div>

<div class="rcontainer">

<center><font color="red"><div id="web_admin_error">[% error_message %]</div></font></center>
<center><div id="web_admin_status">[% status_message %]</div></center>

<script type="text/javascript">
function handle_save() {
	display_waiting_dialog("Saving Configuration And Restarting Services");

	var send_content = dijit.byId("services_form").attr('value');
	for(var tmp in send_content) {
		if (send_content[tmp] == '') {
			send_content[tmp] = "off";
		}
	}
	send_content["fname"] = "save_config";

	dojo.xhrGet ({
			url: '[% self_url %]',
			handleAs: "json",
			content: send_content,
			timeout: 90000,
			load: function(response, io_args) { hide_waiting_dialog(); handle_save_response(response, io_args); },
			error: function (response, io_args) { hide_waiting_dialog(); dojo.byId('web_admin_error').innerHTML="Problem saving configuration"; },
			mimetype: "text/json" 
		});
}

function handle_save_response(response, io_args) {
	if (response['error']) {
		dojo.byId('web_admin_error').innerHTML=response['error'];
		dojo.byId('web_admin_status').innerHTML="";
	} else if (response['message']) {
		dojo.byId('web_admin_error').innerHTML="";
		dojo.byId('web_admin_status').innerHTML=response['message'];
		dojo.byId('nptoolkit_is_modified').value = 0;
	} else {
		dojo.byId('web_admin_error').innerHTML="Received unknown response from service";
		dojo.byId('web_admin_status').innerHTML="";
	}
}

function handle_reset() {
	dojo.xhrGet ({
			url: '[% self_url %]',
			handleAs: "json",
			content: { 'fname': "reset_config" },
			timeout: 15000,
			load: handle_reset_response,
			error: function (response, io_args) { dojo.byId('web_admin_error').innerHTML="Problem reseting configuration"; },
			mimetype: "text/json" 
		});
}

function handle_reset_response(response, io_args) {
	if (response['error']) {
		dojo.byId('web_admin_error').innerHTML=response['error'];
	} else if (response['services']) {
		for(var srv in response['services']) {
			console.log("Service: "+srv);

			var box = dijit.byId(srv);
			if (!box) {
				continue;
			}

			if (response['services'][srv]) {
				box.attr('value', true);
			}
			else {
				box.attr('value', false);
			}
		}

		dojo.byId('nptoolkit_is_modified').value = 0;
	} else {
		dojo.byId('web_admin_error').innerHTML="Received unknown response from service";
	}
}

function select_bandwidth_services() {
	var bandwidth_services = [ "regular_testing", "perfsonarbuoy_ma", "ndt", "npad", "bwctl"  ];
	var latency_services = [ "regular_testing", "perfsonarbuoy_ma", "pinger", "owamp" ];
	var disabled_services = [ "snmp_ma" ];

	dojo.byId('nptoolkit_is_modified').value = 1;

	for (var i = 0; i < disabled_services.length; i++) {
		var service = disabled_services[i];

		var checkbox = dijit.byId(service);
		if (!checkbox) {
			console.log("Did not find "+service);
			continue;
		}

		checkbox.attr('value', false);
	}

	for (var i = 0; i < latency_services.length; i++) {
		var service = latency_services[i];

		var checkbox = dijit.byId(service);
		if (!checkbox) {
			continue;
		}

		checkbox.attr('value', false);
	}

	for (var i = 0; i < bandwidth_services.length; i++) {
		var service = bandwidth_services[i];

		var checkbox = dijit.byId(service);
		if (!checkbox) {
			continue;
		}

		checkbox.attr('value', true);
	}
}

function select_latency_services() {
	var bandwidth_services = [ "regular_testing", "perfsonarbuoy_ma", "ndt", "npad", "bwctl"  ];
	var latency_services = [ "regular_testing", "perfsonarbuoy_ma", "pinger", "owamp" ];
	var disabled_services = [ "snmp_ma" ];

	dojo.byId('nptoolkit_is_modified').value = 1;

	for (var i = 0; i < disabled_services.length; i++) {
		var service = disabled_services[i];

		var checkbox = dijit.byId(service);
		if (!checkbox) {
			continue;
		}

		checkbox.attr('value', false);
	}

	for (var i = 0; i < bandwidth_services.length; i++) {
		var service = bandwidth_services[i];

		var checkbox = dijit.byId(service);
		if (!checkbox) {
			continue;
		}

		checkbox.attr('value', false);
	}

	for (var i = 0; i < latency_services.length; i++) {
		var service = latency_services[i];

		var checkbox = dijit.byId(service);
		if (!checkbox) {
			continue;
		}

		checkbox.attr('value', true);
	}
}
</script>

<input type="hidden" id="nptoolkit_is_modified" value="0" />

<input class="button" type="submit" name="save" id="save" value="Save" onClick="handle_save()">
<input class="button" type="submit" name="reset" id="reset" value="Reset" onClick="handle_reset()">

<form id="services_form" dojoType="dijit.form.Form">
[% IF advanced_mode %]
<table class="basic_table">
        <tr>
        <th></th><th>Services</th>
        </tr>
        [% FOREACH pair IN services.pairs %]
        <tr>
                <td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on" id="[% pair.value.name %]" name="[% pair.value.name %]" [% IF pair.value.enabled %] checked="checked" [% END %] /></td>
                <td>[% pair.value.description %]</td>
        </tr>
        [% END %]
</table>
[% ELSE %]
<table class="basic_table">
        <tr>
        <th></th><th>Services</th><th>Description</th>
	</tr>
	<tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="pinger" name="pinger" [% IF services.pinger.enabled %] checked="checked" [% END %] /></td>
	<td>PingER</td>
	<td>Enables this host to perform scheduled ping tests. These tests will periodically ping configured hosts giving administrators a view of the latency from their site over time.</td>
	</tr>
	<tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="regular_testing" name="regular_testing" [% IF services.regular_testing.enabled %] checked="checked" [% END %] /></td>
	<td>Regular Testing</td>
	<td>Enables this host to perform scheduled tests. These tests will run periodically giving administrators a view of the network performance to and from their site over time.</td>
	</tr>
	<tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="perfsonarbuoy_ma" name="perfsonarbuoy_ma" [% IF services.perfsonarbuoy_ma.enabled %] checked="checked" [% END %] /></td>
	<td>perfSONAR-BUOY Measurement Archive</td>
	<td>Makes available the data collected by the One-Way Latency and Throughput tests.</td>
	</tr>
	<tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="ndt" name="ndt" [% IF services.ndt.enabled %] checked="checked" [% END %] /></td>
	<td>NDT</td>
	<td>Allows clients at other sites to run NDT tests to this host.</td>
	</tr>
	<tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="npad" name="npad" [% IF services.npad.enabled %] checked="checked" [% END %] /></td>
	<td>NPAD</td>
	<td>Allows clients at other sites to run NPAD tests to this host.</td>
	</tr>
	<tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="bwctl" name="bwctl" [% IF services.bwctl.enabled %] checked="checked" [% END %] /></td>
	<td>BWCTL</td>
	<td>Allows clients at other sites to run Throughput tests to this host</td>
	</tr>
	<tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="owamp" name="owamp" [% IF services.owamp.enabled %] checked="checked" [% END %] /></td>
	<td>OWAMP</td>
	<td>Allows clients at other sites to run One-Way Latency tests to this host</td>
	</tr>
        [% IF services.ssh.system == 0%]
	<tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="ssh" name="ssh" [% IF services.ssh.enabled %] checked="checked" [% END %] /></td>
	<td>SSH</td>
	<td>Allows administrators to remotely connect to this host using SSH</td>
        </tr>
        [% END %]
	<tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="snmp_ma" name="snmp_ma" [% IF services.snmp_ma.enabled %] checked="checked" [% END %] /></td>
	<td>SNMP MA</td>
	<td>Makes available SNMP statistics collected by Cacti (Note: you must configure cacti for this to work)</td>
        </tr>
    <tr>
	<td><input type="checkbox" onClick="dojo.byId('nptoolkit_is_modified').value='1'" dojoType="dijit.form.CheckBox" value="on"  id="traceroute_ma" name="traceroute_ma" [% IF services.traceroute_ma.enabled %] checked="checked" [% END %] /></td>
	<td>Traceroute MA</td>
	<td>Makes available results of data collected by scheduled traceroute tests</td>
    </tr>
</table>
[% END %]
</form>

<input class="button" type="submit" name="select_bandwidth" id="select_bandwidth" value="Only Enable Bandwidth Services" onClick="select_bandwidth_services()">
<input class="button" type="submit" name="select_latency" id="select_latency" value="Only Enable Latency Services" onClick="select_latency_services()">
<br>
<input class="button" type="submit" name="save" id="save" value="Save" onClick="handle_save()">
<input class="button" type="submit" name="reset" id="reset" value="Reset" onClick="handle_reset()">

</div>
