<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <title>NPAD Diagnostics at [%- organization_name -%] ([%- location -%])</title>
  <style type="text/css">
    body { font-size: 10pt; font-family: "Arial, Helvetica, sans-serif"; }
    table { font-size: 10pt; font-family: "Arial, Helvetica, sans-serif"; border: 0px; table-layout: fixed;}
    h2 { font-size: 12pt; font-weight: bold; }
    h3 { font-size: 11pt; font-weight: bold; font-style: italic; }
  </style>
</head>

<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
  <table border="0" width="100%" bgcolor="#660000" cellpadding="5" cellspacing="0">
    <col width="5%"><col width="45%"><col width="45%"><col width="5%">
    <tr>
      <td>&nbsp;</td>
      <td><font color="#ffcc00">
        <font size="+3">NPAD</font><br>
        <font size="+1">One-click network diagnostics</font>
      </font></td>
      <td align="right"><font color="#ffffff">
        <font size="+1">
        Server located at [%- organization_name -%] in [%- location -%]
        </font>
      </font></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <font color="#ffffff">
        <a href="http://www.psc.edu/networking/projects/pathdiag/"><font color="#ffffff">Documentation</font></a> |
        <a href="ServerData/summary.html"><font color="#ffffff">Results Summary</font></a> |
        <a href="#about"><font color="#ffffff">About NPAD</font></a>
        </font>
      </td>
      <td>&nbsp;</td>
    </tr>
    </font>
  </table>

  <center>
  <table width="90%" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr><td>
  <table width="600" bgcolor="#ffffff" cellpadding="5" cellspacing="0">
    <tr>
      <td>
        <p>NPAD (Network Path and Application Diagnosis) is designed
        to diagnose network performance problems in your end-system
        (the machine your browser is running on) or the network between it and
        your nearest NPAD server.  For each
        diagnosed problem, the server prescribes corrective actions
        with instructions suitable for non-experts.</p>

        <h2>Brief instructions</h2>
        <ul>
	<li>
	  The test results are most accurate over a short network path.
	  If this NPAD server (located at [%- location -%])
	  is not near you, look for a closer server from the list of
	  <a href="http://www.psc.edu/networking/projects/pathdiag/#servers">
	    Current NPAD Diagnostic&nbsp;Servers</a>.
	</li>
	<li>
	  Have an end-to-end application performance goal
          (<a href="http://www.psc.edu/networking/projects/pathdiag/#target_rtt">target&nbsp;round-trip&nbsp;time</a>
	  and
          <a href="http://www.psc.edu/networking/projects/pathdiag/#target_rate">target&nbsp;data&nbsp;rate</a>)
	  in mind.  Enter the parameters on the form below and click
	  <strong>Start&nbsp;Test</strong>.
	  Messages will appear in the log window as the test runs, followed by a diagnostic report.
	</li>
	<li>
	  In the diagnostic report, failed tests (in <font style="color:red">red</font>) indicate
	  problems that will prevent the application from meeting the end-to-end performance
	  goal.  For each message, a question-mark link (<a href="ServerData/help.html">[?]</a>) leads to
	  additional detailed information about the results.
	</li>
	<li>
	  Every test is fully logged (including your IP address) and test results are
          <a href="ServerData/summary.html">public</a>.
	 We use the logs and results to further refine the software.
	</li>
      </ul>

      For more information, see the
      <a href="http://www.psc.edu/networking/projects/pathdiag/">
	NPAD Documentation</a>, especially the sections:
      <ul>
	<li>
	  <a href="http://www.psc.edu/networking/projects/pathdiag/#procedure">
	    NPAD Diagnostic Procedure</a> - the full instructions.
	</li>
	<li>
	  <a href="http://www.psc.edu/networking/projects/pathdiag/#theory">
	    Theory and Method</a> - why the the tests work.
	</li>
	<li>
	  <a href="http://www.psc.edu/networking/projects/pathdiag/#outcomes">
	    Outcomes</a> - what to do next in the broader debugging context.
	</li>
      </ul>
      <p>

	      <!--
		To get a "border" effect, use a table slightly
		larger than the applet window.  Set it to some
		background color that looks nice.  The applet
		window will be placed over the slightly larger
		table, making a thin border around the applet
		window.
		-->
<p>


	<p>Note that tests take 2-5 minutes, depending on the parameters that
	you provide and the network path.
	If there is a queue, waiting times might be long.</p>

        <table width="610" bgcolor="#660000">
          <tr><td align="center">
          <applet
     alt="Java is not loading: See the C version below."
     code="DiagClient.class"
     archive="DiagClient.jar"
     width="600" height="300">
     <param name="ControlPort" value="8001">
     <param name="DefaultRate" value="100">
     <param name="DefaultRTT" value="20">
   </applet>

        </td></tr></table>

        <p>Please send comments and suggestions about the server to <a href="mailto:[%- administrator_email -%]">[%- administrator_name -%] &lt;[%- administrator_email -%]&gt;</a>.</p>

        <h2><a name="program">Command line client</a></h2>
        <p>If the Java applet above exhibits errors or
      the form is blank, try the command line
      diagnostic client.  Download it
	(<a href="diag-client.c">diag-client.c</a>)
	and compile it:</p>

      <blockquote><pre><strong>
cc diag-client.c -o diag-client
	  </strong></pre></blockquote>

      <p>Run it:</p>

      <blockquote><pre><strong>
./diag-client&nbsp;&lt;server_name&gt;&nbsp;&lt;port&gt;&nbsp;&lt;target_RTT&gt;&nbsp;&lt;target_data_rate&gt;
	  </strong></pre></blockquote>

      <p>Where <em>server_name</em> is the hostname of
      a diagnostic server (e.g., this server), and
      <em>port</em> is the port number the diagnostic
      service runs on (8100 for this server).
      </p>



        <h2><a name="about">About NPAD</h2>
        <p>This software (NPAD/pathdiag version 1.5.6) is being developed under a 
<a href="http://www.ucar.edu/npad/">collaboration</a>
between the Pittsburgh&nbsp;Supercomputer&nbsp;Center (PSC)
and the National&nbsp;Center for Atmospheric&nbsp;Research (NCAR),
funded under NSF grant ANI-0334061.  The project is focused on using
<a href="http://www.web100.org">Web100</a> and other methods to extend
fairly standard diagnostic techniques to compensate for
"symptom&nbsp;scaling" that leads to false positive diagnostic results
on short paths.  It is still experimental software and may have bugs.
Please help us improve this service by providing feedback about the
results.  Send suggestions, comments and questions to <a
href="mailto:nettune@psc.edu">nettune@psc.edu</a>.</p>

<p>Matt&nbsp;Mathis and John&nbsp;Heffner,
Pittsburgh&nbsp;Supercomputing&nbsp;Center, 2005.</p>

      </td>
    </tr>
  </table>
  </td></tr></table>
  </center>

</body>
</html>
