Tests: web, webauth, ssl, pssudo
Depends: perfsonar-toolkit, curl, sudo
Restrictions: needs-root

Tests: config-daemon
Depends: perfsonar-toolkit-config-daemon
Restrictions: needs-root

Tests: servicewatcher
Depends: perfsonar-toolkit-servicewatcher
Restrictions: needs-root

Tests: ntp
Depends: perfsonar-toolkit-ntp
Restrictions: needs-root

Tests: security
Depends: perfsonar-toolkit-security
Restrictions: needs-root

Tests: sysctl
Depends: perfsonar-toolkit-sysctl
Restrictions: needs-root

Tests: systemenv
Depends: perfsonar-toolkit-systemenv
Restrictions: needs-root
