<div class="row">
    <div class="small-12 columns">
        <ul class="nav-tabs u-list-nav">
            <li class="nav-tabs__panel [% IF section == 'admin' %] active [% END %]"><a href="index.cgi">Administrative Information</a></li>
            <li class="nav-tabs__panel [% IF section == 'host' %] active [% END %]"><a href="host.cgi">Host</a></li>
            <li class="nav-tabs__panel [% IF section == 'services' %] active [% END %]"><a href="services.cgi">Services</a></li>
            <li class="nav-tabs__panel [% IF section == 'tests' %] active [% END %]"><a href="tests.cgi">Tests</a></li>
        </ul>
    </div>
</div>
