
                                    <!-- *** Configure test modal (gear icon) *** -->

                                    <div id="configure-test-modal" class="reveal-modal large text-left" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                                        <div class="row">
                                            <div class="medium-12 columns">
                                                <h2 class="reveal-modal__heading reveal-modal__heading--large" id="modalTitle">Configure tests</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="medium-12 columns">
                                                <h2 class="module-header__title font-bold">Test parameters</h2>
                                                <form>
                                                    <label for="test-name">Test name/description</label>
                                                    <input type="text" id="test-name" placeholder="Test name" value="iperf15">

                                                    <div class="row">
                                                        <div class="medium-6 columns">
                                                            <label for="time-between">Time between tests</label>
                                                            <select id="time-between">
                                                                <option>10 Minutes</option>
                                                                <option>15 Minutes</option>
                                                                <option selected>30 Minutes</option>
                                                                <option>60 Minutes</option>
                                                            </select>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label for="test-duration">Test duration</label>
                                                            <select id="test-duration">
                                                                <option>5 Seconds</option>
                                                                <option>10 Seconds</option>
                                                                <option>15 Seconds</option>
                                                                <option selected>30 Seconds</option>
                                                                <option>45 Seconds</option>
                                                                <option>60 Seconds</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="medium-6 columns">
                                                            <div class="row">
                                                                <div class="medium-6 columns">
                                                                    <label>Use Autotuning</label>
                                                                    <div class="switch round small">
                                                                        <input id="exampleCheckboxSwitch" type="checkbox">
                                                                        <label for="exampleCheckboxSwitch">Use Autotuning</label>
                                                                    </div>

                                                                </div>
                                                                <div class="medium-6 columns">
                                                                    <label for="tos-bits">TOS bits</label>
                                                                    <input type="text" id="tos-bits" value="0">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>

                                                <div class="module module--config-table">
                                                    <h3 class="module-header__title font-bold">Test members</h3>
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>Host</th>
                                                                <th>Description</th>
                                                                <th>IPv</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="test-members">
                                                            <tr class="subrow subrow--content">
                                                                <td>ps-test.ctc.grnoc.iu.edu</td>
                                                                <td><input type="text" value="Indiana University, Bloomington, IN"></td>
                                                                <td><label class="inline-label">IPv4</label> <input type="checkbox"></td>
                                                                <td><label class="inline-label">IPv6</label> <input type="checkbox" checked></td>
                                                                <td><a href="#"><i class="fa fa-trash" checked></i></a></td>
                                                            </tr>
                                                            <tr class="subrow subrow--content">
                                                                <td>perfsonar-6.its.iastate.edu</td>
                                                                <td><input type="text" value="Indiana University, Bloomington, IN"></td>
                                                                <td><label class="inline-label">IPv4</label> <input type="checkbox" checked></td>
                                                                <td><label class="inline-label">IPv6</label> <input type="checkbox"></td>
                                                                <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                                            </tr>
                                                            <tr class="subrow subrow--content">
                                                                <td>another.host.to.test</td>
                                                                <td><input type="text" value="Indiana University, Bloomington, IN"></td>
                                                                <td><label class="inline-label">IPv4</label> <input type="checkbox"></td>
                                                                <td><label class="inline-label">IPv6</label> <input type="checkbox" checked></td>
                                                                <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- *** Add new test members panel *** -->

                                                    <div class="panel">
                                                        <p>Enter a host name below or <a href="#">browse communities</a> to add more test members.</p>

                                                        <form>
                                                            <div class="row">
                                                                <div class="medium-4 columns">
                                                                    <label for="new-host-name">Host name</label>
                                                                    <input type="text" id="new-host-name" placeholder="Host">
                                                                </div>
                                                                <div class="medium-5 columns">
                                                                    <label for="new-host-description">Host description</label>
                                                                    <input type="text" id="new-host-description" placeholder="Description">
                                                                </div>
                                                                <div class="medium-3 columns" style="padding-top: 1.75em;">
                                                                    <div class="row">
                                                                        <div class="medium-6 columns">
                                                                            <label  class="inline-label" for="new-ipv4">IPv4</label>
                                                                            <input type="checkbox" id="new-ipv4">
                                                                        </div>
                                                                        <div class="medium-6 columns">
                                                                            <label  class="inline-label" for="new-ipv6">IPv6</label>
                                                                            <input type="checkbox" id="new-ipv6">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="medium-12 columns">
                                                                    <button class="button-quiet js-add-new-host">Add host</button>
                                                                </div>
                                                            </div>
                                                        </form>

                                                    </div>

                                                    <div class="row">
                                                        <div class="medium-12 columns text-right">
                                                            <button class="button-primary" style="margin: 2em 1em 0 0;">Save</button>
                                                            <a href="#">Cancel</a>
                                                        </div>
                                                    </div>

                                                    <!-- <div class="js-add-new-wrapper">
                                                        <a href="#" class="button-primary js-add-new-host" style="margin-right: 1em;">Add new</a> <a href="./">Cancel</a>
                                                    </div>
                                                    <div class="new-host-save">
                                                        <a href="#" class="button-primary js-save-new-host" style="margin-right: 1em;">Save</a> <a href="./">Cancel</a>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Close button for modal -->
                                        <a class="close-reveal-modal" aria-label="Close"><i class="fa fa-close"></i></a>
                                    </div>

                                </div>
