<script id="testConfigByTestTableTemplate" type="text/x-handlebars-template">

    <!-- Begin config by test table -->

<div class="config-table config-table-by-test">

    <!-- *** List test with dropdowns *** -->
    <div class="module module--config-table" id="test_configuration_table_div">
        <table>
            <thead>
                <tr>
                    <th class="test_add">ipv4</th>
                    <th class="test_add">ipv6</th>
                    <th>Test Name</th>
                    <th>Type</th>
                    <th>Interval</th>
                    <th>Test Members</th>
                    <th>Enabled</th>
                    <th class="test_actions">Actions</th>
                </tr>
            </thead>
            <tbody>
            {{#each testsByTest}}
                <tr class="test {{#everyOther @index 2}}even{{else}}odd{{/everyOther}} subrow--content {{#unless editable}} disabled{{/unless}}" data-group="{{test_id}}">
                    <td class="test_add"><input type="checkbox" class="ipv4"></td>
                    <td class="test_add"><input type="checkbox" class="ipv6"></td>
                    <td>
                        <!-- <a class="services--title-link" data-group="{{test_id}}" href="#">{{description}}<i class="fa fa-caret-down"></i></a> -->
                        {{#if added_by_mesh}}
                            <i class="fa fa-th disabled" alt="Mesh"></i>
                        {{/if}}
                        {{description}}
                    </td>
                    <td>{{type_formatted}}</td>
                    <td>{{parameters.test_interval_formatted.valueFormatted}}</td>
                    <td>{{formatHostCount members.length}}</td>
                    <td>
<!--
                        <input type="checkbox" {{#unless disabled}}checked{{/unless}} class="cb_test_enabled"  disabled="disabled" data-test-id="{{test_id}}">
-->
                        {{#if disabled}}
                            <i class="fa fa-close"></i>
                        {{else}}
                            <i class="fa fa-check"></i>
                        {{/if}}
                    </td>
                    <td class="test_actions">
                        <a href="" onclick="return TestConfigComponent.showTestConfigModal({{test_id}});"><i class="fa fa-gear"></i></a> 
                        {{#if editable}}
                            <a href="" onclick="return TestConfigComponent.deleteTest({{test_id}});"><i class="fa fa-trash"></i></a>
                        {{else}}
                            <i class="fa fa-trash disabled"></i></a>
                        {{/if}}
                    </td>
                </tr>
                    <!-- *** Tests *** -->
                    <!-- A unique data attribute for each set of subrows (tests for that host) needs to be generated in the markup -->

            {{/each}}

            </tbody>
        </table>
    </div>

    <!-- End config by test table -->
</div>

</script>
