<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<script src="/toolkit-ng/js/jquery-1.11.2.min.js"></script>

<title>pS-Performance Node - [% title %]</title>
</head>

<body class="tundra">

[% IF session_id %]
<input type="hidden" id="session_id" name="session_id" value="[% session_id %]" />
[% END %]

