/* Table Layout */

.group_table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 5px;
	border-collapse: collapse;
	border: 1px solid #69c;
	padding: 5px;
	text-align: left;
}
.group_table th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	/* padding: 10px 8px; */
	border-bottom: 2px solid #6678b1;
}
.group_table td
{
	color: #669;
	padding-left: 5px;
	padding-right: 5px;
}

.basic_table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 10px;
	border-collapse: collapse;
	border: 1px solid #69c;
	text-align: left;
}

.basic_table th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	/* padding: 10px 8px; */
	border-bottom: 2px solid #6678b1;
}

.basic_table th.subheader
{
	font-size: 13px;
	font-weight: normal;
	color: #039;
	/* padding: 10px 8px; */
	border-bottom: 1px solid #6678b1;
}

.basic_table th.matrix_top_spacer
{
	font-size: 13px;
	font-weight: normal;
	color: #039;
	/* padding: 10px 8px; */
	border-right: 1px solid  #69c;
	border-bottom: 1px solid #69c;
}

.basic_table th.matrix_left_header
{
	font-size: 13px;
	font-weight: normal;
	color: #039;
	/* padding: 10px 8px; */
	border-right: 1px solid  #6678b1;
	border-bottom: 1px solid #69c;
}

.basic_table th.matrix_top_header
{
	font-size: 13px;
	font-weight: normal;
	color: #039;
	/* padding: 10px 8px; */
	border-right: 1px solid #6678b1;
	border-bottom: 1px solid #6678b1;
}

.basic_table td.matrix_cell
{
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #669;
	/* padding: 6px 8px; */
}

.basic_table td.top
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	/* padding: 10px 8px; */
	border-bottom: none;
	/* border-bottom: 2px solid #6678b1; */
}

.basic_table td.middle
{
	color: #669;
}

.basic_table td.bottom
{
	border-bottom: 2px solid #ccc;
	color: #669;
}

.basic_table td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	/* padding: 6px 8px; */

}

.basic_table td.selected
{
	border-bottom: 1px solid #ccc;
	color: #FFFFFF;
	background-color: #669;
}


body {
    font-family: sans-serif;
    font-size: 12px;
    white-space: normal;
}

.header {
    background-color: rgb(64, 94, 154);
    color: rgb(234, 239, 247);
    border-bottom: solid 1px rgb(125, 125, 125);
    font-size: 24px;
    text-align: center
}

.buffer {
    clear: both;
    width: 770px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.title {
    margin: 0px 0px 0px 0px;
    padding: 1px 5px 1px 5px;
    border-bottom: solid 3px rgb(88, 144, 168);
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 16px;
}

.title a {
    color: rgb(75, 75, 75);
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
}


.subTitle1 {
    margin: 0px 0px 10px 0px;
    padding: 1px 5px 2px 5px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 14px;
}

.subTitle2 {
    margin: 0px 0px 10px 0px;
    padding: 1px 5px 2px 5px;
    color: rgb(10, 10, 10);
    font-weight: bold;
    font-size: 12px;
}

/********Top Banner Header *****/
.topBanner {
    clear: both;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.topBanner ul {
    float: left;
    width: 770px;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px rgb(125, 125, 125);
    border-top: solid 1px rgb(125, 125, 125);
    background-color: #5b79b7; /* rgb(127,162,202);*/
    font-weight: bold;
}

.topBanner li {
    display: inline;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.topBanner li a {
    display: block;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    border-right: solid 1px rgb(54, 83, 151);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 100%;
}

.topBanner a:hover,.topBanner a.selected {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.footer {
    clear: both;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    width: 770px;
    border-top: solid 1px rgb(125, 125, 125);
    /*background-color: rgb(127,162,202);*/
    background-color: rgb(64, 94, 154);
    color: rgb(234, 239, 247);
}

/*******Containers *******/
.mainContainer {
    min-height: 400px;
}

.rContainer {
    margin: 0 0 0 180px;
}

/******Left Side Navigation bar *************/
.leftSideNavigation {
float: left;
width: 179px;
color: rgb(75, 75, 75);
       font-size: 12px;
display: block;
	 border-right: solid 1px rgb(216, 206, 180);
	min-height: 400px;
	white-space: normal;
margin-right: 10px;
}

.leftSideNavigation ul {
width: 179px;
margin: 0px 0px 20px 0px;
padding: 0px;
	 border-bottom: solid 1px rgb(216, 206, 159);
	 background-color: #bcd7f1; /*rgb(219,230,241);*/
	 white-space: normal;
}

.leftSideNavigation li {
	list-style: none;
margin: 0px;
padding: 0px;
	 white-space: normal;
}

.leftSideNavigation li.title {
margin: 0px 0px 0px 0px;
padding: 3px 5px 2px 15px;
	 background-color: #80b0e0; /*rgb(127,162,202) ;rgb(156,186,214);*/
color: rgb(255, 255, 255);
       font-weight: bold;
       font-size: 14px;
}
.leftSideNavigation li.group a {
	display: block;
	height: auto !important;
	display: block;
	margin: 0px;
	padding: 0px 7px 0px 15px;
	border-top: solid 1px rgb(200, 200, 200);
	border-left: solid 7px #bcd7f1;
	color: rgb(60, 60, 60);
        font-weight: bold;
        font-size: 12px;
}

.leftSideNavigation li a {
	display: block;
	height: auto !important;
	min-height: 20px;
	line-height: 20px;
	display: block;
	margin: 0px;
	border-top: solid 1px rgb(200, 200, 200);
	border-left: solid 7px #bcd7f1;
	color: rgb(60, 60, 60);
    text-decoration: none;
    font-size: 12px;
    white-space: normal;
}

.leftSideNavigation li a.selected {
	display: block;
	height: auto !important;
	min-height: 20px;
	line-height: 20px;
	display: block;
	margin: 0px;
	border-top: solid 1px rgb(200, 200, 200);
	border-left: solid 7px rgb(156, 186, 214);
    background-color: rgb(156, 186, 214); 
    color: rgb(60, 60, 60);
    text-decoration: none;
    font-size: 12px;
    white-space: normal;
}

.leftSideNavigation li.warning a.selected { 
    border-left: solid 7px #FEEFB3;
    background-color: #FEEFB3;
}

.leftSideNavigation li.error a {
    background-image: url('/toolkit-old/content/images/icon_error_16x16.png');
    background-repeat: no-repeat;
    padding-left:18px;
    border-left: solid 7px #FFBABA;
}

.leftSideNavigation li.warning a {
    background-image: url('/toolkit-old/content/images/icon_warning_16x16.png');
    background-repeat: no-repeat;
    padding-left:18px;
    border-left: solid 7px #FEEFB3;
}
.leftSideNavigation li a:hover {
	border-left: solid 7px rgb(156, 186, 214);
	color: rgb(0, 0, 0);
	text-decoration: none;
	white-space: normal;
}

/********Form ******/
.form {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: solid 1px rgb(200, 200, 200);
    background-color: #d7d7f2;
}

.form fieldset {
    padding: 0px 0 0 0;
    margin: 0 0 20px 0;
    border: solid 1px rgb(200, 200, 200);
}

.form fieldset legend {
    margin: 0 0 0 5px;
    padding: 0 2px 0 2px;
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: 14px;
}

.form label.full {
    float: left;
    width: 500px;
    margin: 0 0 0 10px;
    padding: 2px;
    font-size: 12px;
}

.form label.left {
    float: left;
    width: 100px;
    margin: 0 0 0 10px;
    padding: 2px;
    font-size: 12px;
}

.form input.fieldFull {
    width: 500px;
    padding: 2px;
    margin: 0 0 0 10px;
    border: solid 1px rgb(200, 200, 200);
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.form input.fieldFullReadonly {
    width: 500px;
    padding: 2px;
    margin: 0 0 0 10px;
    border: solid 1px rgb(200, 200, 200);
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    background-color: rgb(250, 235, 235)
}

.form input.fieldFullError {
    width: 500px;
    padding: 2px;
    margin: 0 0 0 10px;
    border: solid 1px rgb(200, 200, 200);
    background-color: rgb(255, 170, 170);
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.form input.fieldRight {
    width: 400px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.form select.comboFull {
    width: 500px;
    padding: 2px;
    margin: 0 0 0 10px;
    border: solid 1px rgb(200, 200, 200);
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.form select.comboFullError {
    width: 500px;
    padding: 2px;
    margin: 0 0 0 10px;
    border: solid 1px rgb(200, 200, 200);
    font-family: verdana, arial, sans-serif;
    background-color: rgb(255, 170, 170);
    font-size: 12px;
}

.form select.comboRight {
    width: 400px;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.form span.example {
    width: 500px;
    padding: 2px;
    margin: 0 0 0 10px;
    display: block;
    font-family: verdana, arial, sans-serif;
    font-style: italic;
    font-size: 10px;
}

.form span.description {
    width: 500px;
    padding: 2px;
    margin: 0 0 0 10px;
    display: block;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.button {
    position: relative;
    font-family: arial, sans-serif;
    margin: 2px 2px 2px 2px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #cccccc;
    padding: 2px 6px 2px 6px;
    color: #000000;
    background-color: #f7f7f7;
    cursor: pointer;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    white-space: nowrap;
}

.button:hover {
    border-color: #0000cc;
    color: #000000;
    background-color: #f7f7f7;
}

.tagcloud a.tag1 { font-size: 1.0em; font-weight: 100; }
.tagcloud a.tag2 { font-size: 1.1em; font-weight: 200; }
.tagcloud a.tag3 { font-size: 1.2em; font-weight: 300; }
.tagcloud a.tag4 { font-size: 1.3em; font-weight: 400; }
.tagcloud a.tag5 { font-size: 1.4em; font-weight: 500; }
.tagcloud a.tag6 { font-size: 1.5em; font-weight: 600; }
.tagcloud a.tag7 { font-size: 1.6em; font-weight: 700; }
.tagcloud a.tag8 { font-size: 1.8em; font-weight: 800; }
.tagcloud a.tag9 { font-size: 2.0em; font-weight: 900; }
.tagcloud a.tag10 { font-size: 2.2em; font-weight: 900; }

.tagcloud { padding: 2px; line-height: 3em; text-align: center; }
.tagcloud a { padding: 0px; }

.tagcloud { margin: 0; }
.tagcloud li { display: inline; }

#web_admin_status {
       //color: #039;
       color: #007700;
       font-weight: bold;
       font-size: 14px;
}

a[rel="external"], a.external {
	white-space: nowrap;
	padding-right: 15px;
	background: url(/toolkit-old/content/images/external.png) no-repeat 100% 50%;
	zoom: 1;
}

.perfSONAR-error, .basic_table td.perfSONAR-error {
    color:#ff0000;

}


.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/toolkit-old/content/images/info.png');
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.success.status {
    background-image: url('/toolkit-old/content/images/icon_success.png');
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.warning.status {
    background-image: url('/toolkit-old/content/images/icon_warning.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.error.status {
    background-image: url('/toolkit-old/content/images/icon_error.png');
}

.status {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.mainjsonlink {
    text-align:center;
    margin-top:30px;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid rgb(200, 200, 200);
}
