<h3 class="sidebar__heading"><i class="fa fa-bar-chart"></i> &nbsp; Host status</h3>
<div id="sidebar_host_status"></div>
<script id="sidebar-status-template" type="text/x-handlebars-template">
<ul class="sidebar-list">
    {{#each status_values}}
    <li>
        <div class="sidebar-list__parameter">{{label}}</div>
        <div class="sidebar-list__value">{{value}}</div>
    </li>
    {{/each}}  
</ul>


<h3 class="sidebar__heading"><i class="fa fa-bar-chart"></i> &nbsp; Host status (hard-coded)</h3>
<ul class="sidebar-list">
    <li>
        <div class="sidebar-list__parameter">CPU Usage</div>
        <div class="sidebar-list__value">20%</div>
    </li>
    <li>
        <div class="sidebar-list__parameter">Load</div>
        <div class="sidebar-list__value">1.59, 1.65, 1.63</div>
    </li>
    <li>
        <div class="sidebar-list__parameter">RAM</div>
        <div class="sidebar-list__value color-red">3.75/4 GB</div>
    </li>
    <li>
        <div class="sidebar-list__parameter">Root partition</div>
        <div class="sidebar-list__value">24/40 GB</div>
    </li>
    <li>
        <div class="sidebar-list__parameter">Swap space</div>
        <div class="sidebar-list__value">2/5 GB</div>
    </li>
    <li>
        <div class="sidebar-list__parameter">NTP &nbsp;</div>
        <div class="sidebar-list__value">Synced (5 ms)</div>
    </li>
    <li>
        <div class="sidebar-list__parameter">eth0</div>
        <div class="sidebar-list__value">9000 MTU</div>
    </li>
    <li>
        <div class="sidebar-list__parameter">eth1</div>
        <div class="sidebar-list__value">1500 MTU</div>
    </li>
    <li>
        <div class="sidebar-list__parameter">Auto Updates</div>
        <div class="sidebar-list__value color-green">ON</div>
    </li>
    <li>
        <div class="sidebar-list__parameter">Number of Cores</div>
        <div class="sidebar-list__value">4</div>    
    </li>
    <li>
        <div class="sidebar-list__parameter">OS/Kernel</div>
        <div class="sidebar-list__value">1.23</div>    
    </li>
    <li>
        <div class="sidebar-list__parameter">Node type</div>
        <div class="sidebar-list__value">NREN</div>    
    </li>
    <li>
        <div class="sidebar-list__parameter">Access</div>
        <div class="sidebar-list__value">Public</div>    
        </li>
</ul>
</script>
