
    <!-- ********************************************
        Global header
    ******************************************** -->

        <header class="app-header clearfix">
        <div class="app-logo">
            <a href="/toolkit-ng/"><img src="/toolkit-ng/images/perfSONAR-logo-reversed-green.png" class="logo"></a>
            <h1>
                <a href="/toolkit-ng/"> Toolkit <span id="header_hostname"></span></a></h1>
            </div>
            <nav class="app-nav">
            <ul>
                [% IF !authenticated %]
                <li class="nav-dropdown">
                    <a href="[% https_url %]" class="login_link">Log in</a>
                    </li>
                    [% END %]
                    <li class="nav-dropdown">
                        <a href="/toolkit-ng/admin/"><i class="fa fa-cog"></i>Configuration</a>
                    </li>
                    <li class="nav-dropdown">
                        <a class="nav-dropdown-toggle" href="#"><i class="fa fa-question"></i>Help</a>
                        <ul class="nav-dropdown-menu">
                            <li><a href="#">Configuration manual</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Credits</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        
