
        <aside class="sidebar">
        <nav>
            [% IF authenticated %]
                [% INCLUDE host/sidebar_host_health.html %]
            [% END %]
                [% INCLUDE host/sidebar_host_status.html %]
                    
                <h3 class="sidebar__heading"><i class="fa fa-wrench"></i> &nbsp; On-demand testing tools</h3>
                <ul class="sidebar-list">
                    <li class="sidebar-list__item"><a href="/toolkit/gui/reverse_traceroute.cgi?function=ping" target="_blank">Reverse ping <i class="fa fa-external-link"></i></a></li>
                    <li class="sidebar-list__item"><a href="/toolkit/gui/reverse_traceroute.cgi" target="_blank">Reverse traceroute <i class="fa fa-external-link"></i></a></li>
                    <li class="sidebar-list__item"><a href="/toolkit/gui/reverse_traceroute.cgi?function=tracepath" target="_blank">Reverse tracepath <i class="fa fa-external-link"></i></a></li>
                    <li class="sidebar-list__item"><a href="http://www-wanmon.slac.stanford.edu/cgi-wrap/reflector.cgi?function=vtrace" target="_blank">Traceroute Visualization <i class="fa fa-external-link"></i></a></li>
                </ul>

                <h3 class="sidebar__heading"><i class="fa fa-bookmark"></i> &nbsp; Other services</h3>
                <ul class="sidebar-list">
                    <li class="sidebar-list__item"><a href="http://stats.es.net/ServicesDirectory/" target="_blank">Global node directory <i class="fa fa-external-link"></i></a></li>
		</ul>
            </nav>
            </aside>
            
