<script type="text/javascript" src="js/dygraph-combined.js"></script>

<style type="text/css">#chart_div {
                   border: 1px solid black;
   }
</style>
</head>
<body>
    <table>
       <tr>
           <td><h4 align="center">Achieved Throughput</h4></td>
       </tr>
       <tr>
           <td><div id="chart_div" style="width: 500px; height: 300px;"></div></td>
       </tr>
       <tr>
           <td><div id="labelsDiv" style="width: 500px; height: 100px;"></div></td>
       </tr>
   </table>
</body>
