[% title = "Performance Dashboards" %]

[% INCLUDE header.tmpl %]


<link rel="stylesheet" href="style/maddash.css" type="text/css" media="screen" />
<link rel="stylesheet" href="style/tipsy.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/maddash.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.tipsy.js"></script>
<script type="text/javascript" src="js/d3.v2.js"></script>

<style type="text/css">
.verticalText
{
text-align: bottom;
vertical-align: bottom;
width: 20px;
margin: 0px;
padding: 0px;
padding-left: 3px;
padding-right: 3px;
padding-top: 10px;
white-space: nowrap;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
}

.check_grid_1
{
	background-color: green;
}

.check_grid_2
{
	background-color: yellow;
}

.check_grid_3
{
	background-color: red;
}

.check_grid_4
{
	background-color: orange;
}

.check_grid_5
{
	background-color: grey;
}
</style>

<script type="text/javascript">
function load_grid(uri,graph_div,legend_div,check_div) {
    	dojo.xhrGet ({
			url: '[% self_url %]',
			content: { fname: 'get_grid', args: [ uri, "json" ] },
			timeout: 90000,
			handleAs: "json",
			load: dojo.hitch(null,
					function(graph_div, legend_div, check_div, response, io_args) {
						console.log("Building MaDDashGrid");
						var grid = new MaDDashGrid(graph_div, legend_div);
						grid.handleClick = function(d) {
						    load_check(d.uri, check_div);
						};
						grid.render(response);
					}, graph_div, legend_div, check_div),
			error: dojo.hitch(null, function(response, io_args) {
						console.log("Failure: "+response);
						//dojo.byId('web_admin_error').innerHTML=response;
					})
		});
}

function load_check(uri,div) {
	console.log("Calling load_check: "+div);
	dojo.xhrGet ({
			url: '[% self_url %]',
			content: { fname: 'get_check', args: [ uri ] },
			timeout: 90000,
			load: dojo.hitch(null,
					function(div_id, response, io_args) {
						console.log("Success: "+div_id);
						var div = dijit.byId(div_id);
						div.setContent(response);
					}, div),
			error: dojo.hitch(null, function(response, io_args) {
						console.log("Failure: "+response);
						dojo.byId('web_admin_error').innerHTML=response;
					})
		});
	console.log("Finished xhrGet");
}

function load_graph(div, graph_url, start_time, end_time) {
        if (start_time && end_time) {
            graph_url = graph_url + "&sTime="+start_time+"&eTime="+end_time;
        }
	console.log("Calling load_graph: "+graph_url);

	dojo.place("<iframe src='"+graph_url+"' width='550px' height='450px' frameborder=0></iframe>", div, "only");
}
</script>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="js/dygraph-combined.js"></script>

<div id="body" dojoType="dijit.layout.ContentPane" style="height: 100%">
[% content %]
</div>

[% INCLUDE footer.tmpl %]
