<h2>[%- grid.name -%]</h2>
<table>
<!--<tr>
<th colspan="[%- 2 * grid.columnNames.size + 1 -%]">[%- grid.name -%]</th>
</tr>-->
<tr>
<th></th>
[% FOREACH columnName IN grid.columnNames %]
<th style="height: 100px" colspan=2><div class="verticalText">[%- columnName -%]</div></th>
[% END %]
</tr>
[% FOREACH row IN grid.grid %]
   <tr>
   <th>[%- row_elm = loop.count - 1; grid.rows.${row_elm}.name -%]</th>
   [% FOREACH column IN row %]
       [%- column_elm = loop.count - 1 %]
       [% UNLESS column %]
           <td></td><td></td>
       [% ELSE %]
         [% FOREACH entry IN column %]
           <td id='[%- entry.uri -%]' class="check_grid_[%- entry.status + 1 -%]" onClick="load_check('[%- entry.uri -%]', '[%- check_content_id -%]');">&nbsp;</td>
           <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'[%- entry.uri -%]',position:['above']">
             [% IF loop.count == 1 %]
               [% source = grid.rows.${row_elm}.name -%]</th>
               [% destination = grid.columnNames.${column_elm} -%]</th>
             [% ELSE  %]
               [% source = grid.rows.${row_elm}.name -%]</th>
               [% destination = grid.columnNames.${column_elm} -%]</th>
             [% END %]
             [%- source -%] to [%- destination -%]: [%- entry.message -%]
           </div>
         [% END %]
       [% END %]
   [% END %]
   </tr>
[% END %]
</table>
