<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="js/dygraph-combined.js"></script>

<style type="text/css">#chart_div {
                   border: 1px solid black;
   }
</style>
</head>

<input type="hidden" id="buckets" name="buckets" value="<TMPL_VAR NAME=BUCKETS>"/>

<body>
    <table>
       <tr>
           <td><h4 align="center">One-Way Latency/Loss</h4></td>
       </tr>
       <tr>
           <td><div id="chart_div" style="width: 500px; height: 300px;"></div></td>
       </tr>
       <tr>
         <td align="center">
            <table border="0" cellspacing="5">
               <tr>
                 <td class="key" style="background-color: #2554C7; width: 20px;"></td>
                 <td><label>Miniumum Latency</label></td>
                 <TMPL_IF NAME=BUCKETS>
                 <td class="key" style="background-color: #FF0080; width: 20px;"></td>
                 <td><label>Median Latency</label></td>
                 <td class="key" style="background-color: #FBB117; width: 20px;"></td>
                 <td><label>95th Percentile Latency</label></td>
                 </TMPL_IF>
                 <td class="key" style="background-color: #000000; width: 20px;"></td>
                 <td><label>Loss</label></td>
               </tr>
            </table>
         </td>
       </tr>
       <tr>
           <td><div id="labelsDiv" style="width: 500px; height: 100px;"></div></td>
       </tr>

   </table>
</body>
