Source: perfsonar-toolkit
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9.0.0), quilt, dh-exec
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net/
Vcs-Git: git://github.com/perfsonar/toolkit
Vcs-Browser: https://github.com/perfsonar/toolkit

Package: perfsonar-toolkit
Architecture: all
Depends: libperfsonar-perl, apache2-mpm-worker | httpd,
 libapache2-mod-authnz-external, libapache2-mod-authz-unixgroup,
 pwauth, perl, libxml-simple-perl, libsys-meminfo-perl,
 libsys-statistics-linux-perl, libperfsonar-sls-perl,
 perfsonar-toolkit-library, liblog-dispatch-filerotate-perl,
 libcgi-ajax-perl, libcgi-session-perl,
 perfsonar-common, chkconfig, cron-apt,
 libperfsonar-toolkit-perl, perfsonar-lsregistrationdaemon,
 perfsonar-toolkit-config-daemon,
 perfsonar-toolkit-graphs, ${misc:Depends}
Description: pS-Performance Toolkit web
 pS-Performance Toolkit web GUI and associated services.

Package: perfsonar-toolkit-library
Architecture: all
Depends: libperfsonar-perl, ${misc:Depends}
Description: pS-Performance Toolkit library
 Perl libraries for pS-Performance Toolkit.

Package: perfsonar-toolkit-security
Architecture: all
Depends: iptables-persistent, fail2ban, ${misc:Depends}
Description: pS-Performance Toolkit firewall configuration
 Configures IPTables rules and installs fail2ban for perfSONAR Toolkit.

Package: perfsonar-toolkit-sysctl
Architecture: all
Depends: ${misc:Depends}
Description: pS-Performance Toolkit sysctl configuration
 Configures sysctl settings for perfSONAR Toolkit.

Package: perfsonar-toolkit-service-watcher
Architecture: all
Depends: perfsonar-toolkit-ntp, chkconfig, ${misc:Depends}
Description: pS-Performance Toolkit service watcher
 Installs the service-watcher cron job.

Package: perfsonar-toolkit-ntp
Architecture: all
Depends: ntp, perfsonar-toolkit-library, ${misc:Depends}
Description: pS-Performance Toolkit ntp configuration
 Configures ntp servers for perfSONAR Toolkit.

Package: perfsonar-toolkit-config-daemon
Architecture: all
Depends: perfsonar-toolkit-library, libnet-server-perl,
 ${misc:Depends}
Description: pS-Performance Toolkit configuration daemon
 Manages configuration file and services for perfSONAR Toolkit.
