Source: perfsonar-toolkit
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9.0.0), quilt, dh-exec
Standards-Version: 3.9.6
Homepage: http://www.perfsonar.net/
Vcs-Git: git://github.com/perfsonar/toolkit
Vcs-Browser: https://github.com/perfsonar/toolkit

Package: perfsonar-toolkit
Architecture: all
Depends: libperfsonar-perl, apache2, apache2-utils, ssl-cert,
 perl, libxml-simple-perl, libcgi-pm-perl,
 libsys-statistics-linux-perl, libperfsonar-sls-perl,
 perfsonar-toolkit-library, liblog-dispatch-filerotate-perl,
 libcgi-ajax-perl, libcgi-session-perl,
 perfsonar-common, unattended-upgrades, ntp, ethtool, iproute2,
 libperfsonar-toolkit-perl, perfsonar-lsregistrationdaemon,
 perfsonar-toolkit-config-daemon, perfsonar-core,
 perfsonar-lscachedaemon, perfsonar-traceroute-viewer,
 perfsonar-meshconfig-jsonbuilder,
 perfsonar-toolkit-graphs, ${misc:Depends}
Description: perfSONAR Toolkit web
 perfSONAR Toolkit web GUI and associated services.

Package: perfsonar-toolkit-library
Architecture: all
Depends: libperfsonar-perl, ${misc:Depends}
Description: perfSONAR Toolkit library
 Perl libraries for perfSONAR Toolkit.

Package: perfsonar-toolkit-security
Architecture: all
Depends: firewalld, fail2ban, ${misc:Depends}
Description: perfSONAR Toolkit firewall configuration
 Configures IPTables rules and installs fail2ban for perfSONAR Toolkit.

Package: perfsonar-toolkit-sysctl
Architecture: all
Depends: libperfsonar-perl, ${misc:Depends}
Description: perfSONAR Toolkit sysctl configuration
 Configures sysctl settings for perfSONAR Toolkit.

Package: perfsonar-toolkit-servicewatcher
Architecture: all
Depends: libperfsonar-toolkit-perl, perfsonar-common,
 ${misc:Depends}
Description: perfSONAR Toolkit service watcher
 Installs the service-watcher cron job.

Package: perfsonar-toolkit-ntp
Architecture: all
Depends: ntp, perfsonar-toolkit-library,
 libperfsonar-toolkit-perl, ${misc:Depends}
Description: perfSONAR Toolkit ntp configuration
 Configures ntp servers for perfSONAR Toolkit.

Package: perfsonar-toolkit-config-daemon
Architecture: all
Depends: perfsonar-toolkit-library, perfsonar-common,
 libnet-server-perl, libperfsonar-toolkit-perl,
 liblog-dispatch-filerotate-perl, ${misc:Depends}
Description: perfSONAR Toolkit configuration daemon
 Manages configuration file and services for perfSONAR Toolkit.

Package: perfsonar-toolkit-install
Architecture: all
Depends: perfsonar-toolkit-library, python-apt
Description: perfSONAR Toolkit core scripts
 Contains Toolkit installation scripts.

Package: perfsonar-toolkit-systemenv
Architecture: all
Depends: perfsonar-toolkit-security, perfsonar-toolkit-sysctl,
 perfsonar-toolkit-servicewatcher, perfsonar-toolkit-ntp,
 perfsonar-toolkit-library, bwctl-server, esmond,
 perfsonar-meshconfig-agent, perfsonar-toolkit,
 owamp-server, nscd
Description: perfSONAR Toolkit system tuning
 Tunes and configures the system according to performance
 and security best practices.
