[% INCLUDE components/loader.html %]
 <div class="config-panel-wrapper">
            <section class="dashboard-internal">
                <div class="row">
                    <div class="small-12 columns">
                        <header>
                            <nav>
                                <ul class="nav--breadcrumbs u-list-nav">
                                    <li><a href=".."><i class="fa fa-home fa-fw"></i>Home</a></li>
                                    <li class="active"><a href="./">Configuration</a></li>
                                </ul>
                            </nav>
                        </header>
                    </div>
                </div>



<form id="adminInfoForm" data-abide="ajax">

<div class="config">

    [% INCLUDE admin/components/admin_header_nav.html %]
    <div class="row">
        <div class="medium-9 columns">
            <div class="config__form">
                    <fieldset>
                        <div class="row">
                            <div class="small-12 columns">
                                <label class="config__label">Organization Name</label>
                                <input class="config__input" type="text" id="admin_organization_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label class="config__label">City</label>
                                <input class="config__input" type="text" id="admin_city">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <label class="config__label">Country</label>
                                <select class="config__input" id="admin_country">
                                </select>
                            </div>
                            <div class="large-4 columns">
                                <label class="config__label">State/Province</label>
                                    <input type="text" id="admin_state" style="display:none;" />
                                    <input type="hidden" id="previous_selected_state_val" value="" />
                                    <select class="config__input" id="admin_states" />
                                </select>
                            </div>
                            <div class="large-4 columns">
                                <label class="config__label">ZIP/Postal Code</label>
                                <input class="config__input" type="text" id="admin_postal_code">
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns">
                                <label class="config__label">Administrator Name</label>
                                <input class="config__input" type="text" id="admin_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns">
                                <label class="config__label">Administrator Email </label>
                                <input class="config__input" type="email" id="admin_email">
                                <small class="error">Must be a valid e-mail address</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <label class="config__label">Latitude</label> 
                                <input class="config__input" type="text" pattern="number" id="admin_latitude">
                                <small class="error">Must be a valid decimal</small>
                            </div>
                            <div class="large-4 columns">
                                <label class="config__label">Longitude</label>
                                <input class="config__input" type="text" pattern="number" id="admin_longitude">
                                <small class="error">Must be a valid decimal</small>
                            </div>
                            <div class="large-4 columns">
                                <button name="" id="guess_lat_lon_button" style="display:none;" class="button-quiet button-quiet--form-align"><i class="fa fa-globe"> &nbsp;</i>Autofill Lat/Long</button>
                                <input type="hidden" id="guessed_latitude" value="">
                                <input type="hidden" id="guessed_longitude" value="">
                            </div>
                        </div>
                    </fieldset>
<!-- ********************************************
    Metadata module
******************************************** -->
                                <h2 class="module-header__title">Metadata</h2>
                                <div class="metadata">
                                    <fieldset>
                                        <div class="row">
                                                <div class="medium-6 columns">
                                                    <label class="config__label">Node Role</label> 
                                                    <select name="node_role_select" class="js-select-multiple config__input" multiple="multiple" id="node_role_select">
                                                    </select>
                                                </div>
                                                <div class="medium-6 columns">
                                                    <label class="config__label">Node Access Policy</label> 
                                                    <select name="access_policy" class="js-select" id="access_policy" data-allow-clear="true"><option></option></select>
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="medium-12 columns">
                                                    <label class="config__label">Access Policy Notes</label> 
                                                    <input class="config__input" type="text" id="node_access_policy_notes">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
<!-- ********************************************
                                    Communities module
                                ******************************************** -->
                                <h2 class="module-header__title">Communities</h2>
                                <div class="red-error hidden" id="communities_error">Error loading communities from global lookup service; only displaying locally-defined communities.</div>
                                <div class="communities">
                                    <!-- New select box for choosing communities -->
                                    <div class="row">
                                        <div class="medium-12 columns">
                                            <select class="js-select-multiple" multiple="multiple" id="update_communities">
                                            </select>
                                        </div>
                                    </div>
                                    <a href="#" class="communities__add"><i class="fa fa-plus"></i> Add a community</a>
                                    <div class="communities__popular">
                                        <fieldset>
                                            <div class="row">
                                                <div class="medium-8 columns">
                                                    <input type="text" id="community_add_name" name="community_add_name" placeholder="Enter a community name">
                                                </div>
                                                <div class="medium-4 columns">
                                                    <button id="community_add_button" class="button-secondary button-secondary--small" style="margin: 0; display: block; width: 100%;">Add</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <!-- End Communities module -->
            </div>
            <!-- End config__form -->


                </div>
                <!-- End config -->
                    <div class="medium-3 columns">
                            <aside class="aside aside--config">
                                <h3 class="aside__heading">Resources</h3>
                                <ul class="aside__list">
                                    <li><a href="http://docs.perfsonar.net/manage_admin_info.html" target="_blank">Editing Host Information</a></li>
                                    <li><a href="http://docs.perfsonar.net/manage_admin_info.html#adding-a-community" target="_blank">Managing Communities</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                    <!-- End row -->
            </section>
            <!-- End dashboard-internal -->
        </div>
        <!-- End config-panel-wrapper -->

        [% INCLUDE admin/components/sticky_bar.html %]


</form>
