[% INCLUDE components/loader.html %]

<div class="config-panel-wrapper">
    <section class="dashboard-internal">
    <div class="row">
        <div class="small-12 columns">
            <header>
            <nav>
            <ul class="nav--breadcrumbs u-list-nav">
                <li><a href="../authenticated"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="index.cgi">Configuration</a></li>
                <li class="active"><a href="services.cgi">Services</a></li>
            </ul>
            </nav>
            </header>
        </div>
    </div>

    <div class="config">
        <form id="hostConfigForm">

        [% INCLUDE admin/components/admin_header_nav.html %]

                    <div class="row">
                        <div class="medium-9 columns">
                            <div class="config__form">
                                <div class="switch-wrapper">
                                    <h2 class="module-header__title">Auto Updates</h2>
                                    <p>Automatically updates all software on a nightly basis.</p>
                                    <div class="switch round small">
                                        <input id="autoUpdatesSwitch" type="checkbox">
                                        <label for="autoUpdatesSwitch"></label>
                                        <span id="autoUpdatesLabel" style="vertical-align:top; font-size:120%; margin-left:1em;"></span>
                                    </div>
                                </div>

                                <h2 class="module-header__title">NTP Servers</h2>
                                <div class="servers">
                                    <!-- New select box for adding servers -->
                                    <div class="row">
                                        <div class="medium-12 columns">
                                            <select class="js-select-multiple" multiple="multiple" id="select_ntp_servers"></select>
                                            <ul class="servers__options-list">
                                                <li class="servers__options-item"><a href="#">Select the closest servers</a></li>
                                                <li><a href="#" data-reveal-id="ntpModal" id="manage-available-servers-link">Manage available NTP servers</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Manage NTP modal -->
                                    <div id="ntpModal" class="reveal-modal xlarge" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                                        <div class="row">
                                            <div class="medium-12 columns">
                                                <div class="ntp-servers">
                                                    <h3 class="reveal-modal__heading" id="modalTitle">Manage available NTP servers</h3>
                                                    <div id="ntp-modal-server-list"></div>
                                                    <script id="ntp-modal-server-list-template" type="text/x-handlebars-template">
                                                        <ul class="ntp-list" id="ntp_list" style="overflow:scroll;min-height:100px;">
                                                            {{#each servers}} 
                                                            <li class="ntp-list__item">                                                            
                                                            <span class="ntp-list__title">{{id}}</span>
                                                            <span class="ntp-list__description">{{#if description}}
                                                                ({{description}})
                                                                {{/if}}
                                                            </span>
                                                            <a class="ntp-list__delete" href="#" server="{{id}}">Delete <i class="fa fa-close"></i></a>
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    </script> <!-- end #ntp-modal-server-list -->

                                                    <h4 class="reveal-modal__heading">Add a new server</h4>
                                                    <div class="row">
                                                        <div class="medium-4 columns">
                                                            <label class="visuallyhidden">Hostname</label>
                                                            <input type="text" placeholder="Enter a new NTP server hostname" id="ntp_server_add_hostname">
                                                        </div>    
                                                        <div class="medium-4 columns">
                                                            <label class="visuallyhidden">Description</label>
                                                            <input type="text" placeholder="Enter a description" id="ntp_server_add_description">
                                                        </div>
                                                        <div class="medium-4 columns">
                                                            <button type="submit" class="button-quiet" id="ntp_server_add_button">Add server</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="medium-12 columns">
                                                            <button class="button-primary" style="margin: 2em 1em 0 0;" id="ntp_modal_ok_button">OK</button>
                                                            <a href="#" id="ntp_modal_cancel_button">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Close button for modal -->
                                        <a class="close-reveal-modal" aria-label="Close"><i class="fa fa-close"></i></a>
                                    </div>

                                </div>
                                <!-- End Servers module -->
                            </div>
                            <!-- End config__form -->
                        </div>
                        <div class="medium-3 columns">
                            <aside class="aside aside--config">
                                <h3 class="aside__heading">Resources</h3>
                                <ul class="aside__list">
                                    <li><a href="#">Automatic Updates</a></li>
                                </ul>
                                <h3 class="aside__heading">NTP</h3>
                                <ul class="aside__list">
                                    <li><a href="#">Selecting the Closest Servers</a></li>
                                    <li><a href="#">Manually Selecting a Known Server</a></li>
                                    <li><a href="#">Manually Adding a Server</a></li>
                                    <li><a href="#">Deselecting a Server</a></li>
                                    <li><a href="#">Deleting a Known Server</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                    <!-- End row -->

                    </form>
                </div>
                <!-- End config__form -->  


            </div>
            <!-- End config -->
        </div>
        <!-- End row -->
        </section>
        <!-- End dashboard-internal -->
    </div>
    <!-- End services-panel-wrapper -->

    [% INCLUDE admin/components/sticky_bar.html %]

