 [% INCLUDE components/loader.html %]
<div class="config-panel-wrapper">
	<section class="dashboard-internal">
		<div class="row">
			<div class="small-12 columns">
				<header>
					<nav>
						<ul class="nav--breadcrumbs u-list-nav">
							<li><a href=".."><i class="fa fa-home fa-fw"></i>Home</a></li>
							<li class="active"><a href="plotGraph.cgi">Plot Schedule Graph</a></li>
						</ul>
					</nav>
				</header>
			</div>
		</div>
		
		<div class="config">
		
		<img src="/toolkit/images/perfSONAR-logo-powered.png" alt="Plot Schedule `Graph" width="500" height="600">
       
	     </div>

	</section>

</div>
