[% INCLUDE components/loader.html %]

<div class="config-panel-wrapper">
    <section class="dashboard-internal">
    <div class="row">
        <div class="small-12 columns">
            <header>
            <nav>
            <ul class="nav--breadcrumbs u-list-nav">
                <li><a href="../"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="index.cgi">Configuration</a></li>
                <li class="active"><a href="tests.cgi">Tests</a></li>
            </ul>
            </nav>
            </header>
        </div>
    </div>

    <div class="config">
        <form>

        [% INCLUDE admin/components/admin_header_nav.html %]

                    <div class="row">
                        <div class="medium-9 columns">
                            <div class="config__form">
                                    <h2 class="module-header__title">All scheduled tests</h2>
                                    <p>Configure tests between this host and other hosts.</p>


                                    <!-- Begin table heading -->

                                    <!-- *** Sort by host or test and set default test parameters *** -->
                                    <div class="row">
                                        <div class="medium-6 columns">
                                            <span>View by: 
                                                <a href="#" id="viewByHost">Host</a> | 
                                                <a href="#" id="viewByTest">Test</a></span>
                                        </div>
                                        <div class="medium-6 columns text-right">
                                            <a href="#" data-reveal-id="defaultParametersModal">Default test parameters</a>
                                        </div>
                                    </div>

                                    <!-- End table heading -->

                                    <div id="testConfigContainer"></div>



                            </div>
                            <!-- End config__form -->


                        </div>
                        <div class="medium-3 columns">
                            <aside class="aside aside--config">
                                <h3 class="aside__heading">Resources</h3>
                                <ul class="aside__list">
                                    <li><a href="http://docs.perfsonar.net/manage_regular_tests.html" target="_blank">Configuring Tests</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                    <!-- End row -->

                    </form>
                </div>
                <!-- End config__form -->  


            </div>
            <!-- End config -->
        </div>
        <!-- End row -->
        </section>
        <!-- End dashboard-internal -->
    </div>
    <!-- End services-panel-wrapper -->


    [% INCLUDE admin/components/test_config_table_by_test.html %]
    [% INCLUDE admin/components/test_config_table_by_host.html %]

    [% INCLUDE admin/components/test_config_default_parameters.html %]


    [% INCLUDE admin/components/sticky_bar.html %]
