<div class="mainContainer">
<div class="subTitle1">Scheduled Tests Configuration Tool</div>

<center><font color="red"><div id="web_admin_error">[% error_message %]</div></font></center>
<center><div id="web_admin_status">[% status_message %]</div></center>

<input type="hidden" id="nptoolkit_is_modified" value="[% is_modified %]" />

<input type="hidden" id="throughput_tests" value="[% throughput_tests %]" />
<input type="hidden" id="owamp_tests" value="[% owamp_tests %]" />
<input type="hidden" id="pinger_tests" value="[% pinger_tests %]" />
<input type="hidden" id="psb_bwctl_enabled" value="[% psb_bwctl_enabled %]" />
<input type="hidden" id="psb_owamp_enabled" value="[% psb_owamp_enabled %]" />
<input type="hidden" id="pinger_enabled" value="[% pinger_enabled %]" />

[% IF throughput_tests > 0 && psb_bwctl_enabled && ((owamp_tests > 0 && psb_owamp_enabled) || (pinger_tests > 0 && pinger_enabled)) %]
<br><div style="color:red">This host is configured with both latency and bandwidth tests. Bandwidth tests can interfere with latency tests</div>
[% END %]

[% IF (owamp_tests > 0); UNLESS psb_owamp_enabled %]
<br><div style="color:red">This host has perfSONAR-BUOY One-Way Latency tests configured, but the perfSONAR-BUOY One-Way Latency Collector is disabled.</div>
[% END; END %]

[% IF (throughput_tests > 0); UNLESS psb_bwctl_enabled %]
<br><div style="color:red">This host has perfSONAR-BUOY Throughput tests configured, but the perfSONAR-BUOY Throughput Collector is disabled.</div>
[% END; END %]

[% IF (throughput_tests > 0 || owamp_tests > 0); UNLESS psb_ma_enabled %]
<br><div style="color:red">This host has perfSONAR-BUOY Throughput or One-Way Latency tests configured, but the perfSONAR-BUOY Measurement Archive is disabled.</div>
[% END; END %]

[% IF pinger_tests > 0; UNLESS pinger_enabled %]
<br><div style="color:red">This host has PingER tests configured (Ping), but PingER is disabled.</div>
[% END; END %]

[% IF owamp_port_range > 0 && owamp_port_usage > owamp_port_range %]
<br><div style="color:red">This host has owamp test ports configured ([% owamp_ports.min_port %]-[% owamp_ports.max_port %]). However, based on the number of hosts being tested against, at least [% owamp_port_usage %] ports need to be available.</div>
[% END %]

[% IF bwctl_port_range > 0 && bwctl_port_usage > bwctl_port_range %]
<br><div style="color:red">This host has bwctl test ports configured ([% bwctl_ports.min_port %]-[% bwctl_ports.max_port %]). However, based on the number of hosts being tested against, at least [% bwctl_port_usage %] ports need to be available.</div>
[% END %]

[% IF throughput_tests > 0 %]
[% IF network_percent_used > 100 %]
[% SET network_percentage_color = "red" %]
[% ELSIF network_percent_used > 80 %]
[% SET network_percentage_color = "yellow" %]
[% ELSE %]
[% SET network_percentage_color = "green" %]
[% END %]
<br><div style="color:[% network_percentage_color %]">Throughput tests will be running [% network_percent_used %]% of the time</div>
[% END %]

<input class="button" type="submit" name="save" id="save" value="Save" onClick="handle_save_config()">
<input class="button" type="submit" name="reset" id="reset" value="Reset" onClick="handle_reset_config()">

<div id="tests">

<table style="width: 700px" class="basic_table">
  [% IF tests.size == 0 %]
  <tr>
  <th>Scheduled Tests</th>
  </tr>
  <tr>
  <td>
  <center>No Tests Configured</center>
  </td>
  </tr>
  [% ELSE %]
  <tr>
  <th colspan="3">Scheduled Tests</th>
  </tr>
  [% FOREACH test_info IN tests %]
  <tr>
    [% IF test_info.type == "owamp"; test_info.type_desc = "One-Way Delay Test"; END %]
    [% IF test_info.type == "pinger"; test_info.type_desc = "Ping Test"; END %]
    [% IF test_info.type == "bwctl/throughput"; test_info.type_desc = "Throughput Test"; END %]
    [% IF test_info.id == current_test.id %]
    <td class="selected" style="width: 400px">[% test_info.description %]</td>
    <td class="selected" style="width: 150px">[% test_info.type_desc %]</td>
    <td class="selected">
	<a href="#" onClick="show_test('[% test_info.id %]')">Configure</a>
        <a href="#" onClick="remove_test('[% test_info.id %]')">Delete</a>
    </td>
    [% ELSE %]
    <td style="width: 400px">[% test_info.description %]</td>
    <td style="width: 150px">[% test_info.type_desc %]</td>
    <td>
	<a href="#" onClick="show_test('[% test_info.id %]')">Configure</a>
        <a href="#" onClick="remove_test('[% test_info.id %]')">Delete</a>
    </td>
    [% END %]
  </tr>
  [% END %]
  [% END %]
</table>

</div>

<input class="button" type="submit" name="display_add_test_button" id="display_add_test_button" onClick="display_bwctl_throughput_test_dialog(null, '', 14400, 20, 'iperf', 'tcp', 0, 0);" value="Add New Throughput Test">
<input class="button" type="submit" name="display_add_test_button" id="display_add_test_button" onClick="display_pinger_test_dialog(null, '', 1000, 10, 1, 300, 0, 255);" value="Add New Ping Test">
<input class="button" type="submit" name="display_add_test_button" id="display_add_test_button" onClick="display_owamp_test_dialog(null, '', 0.1, 0, 108000, 6000, 0.001, 10)" value="Add New One-Way Delay Test">
<br>

[% IF owamp_tests > 0 %]
<input class="button" type="submit" name="display_set_owamp_test_port_range_dialog" id="display_set_owamp_test_port_range_dialog" onClick="display_owamp_port_configuration_dialog('[% owamp_ports.min_port %]', '[% owamp_ports.max_port %]')" value="Configure OWAMP Tests Port Range">
[% END %]
[% IF throughput_tests > 0 %]
<input class="button" type="submit" name="display_set_bwctl_test_port_range_dialog" id="display_set_bwctl_test_port_range_dialog" onClick="display_bwctl_port_configuration_dialog('[% bwctl_ports.min_port %]', '[% bwctl_ports.max_port %]')" value="Configure BWCTL Tests Port Range">
[% END %]

<div id="test_configuration">
[% IF current_test; INCLUDE test_configuration.tmpl; END %]
</div>

[% IF current_test %]
<div class="subTitle1">Find Hosts To Test With</div>

<div id="known_hosts">
[% INCLUDE known_hosts.tmpl %]
</div>

<div id="known_keywords">
[% INCLUDE known_keywords.tmpl %]
</div>
[% END %]

<br>
<input class="button" type="submit" name="save" id="save" value="Save" onClick="handle_save_config()">
<input class="button" type="submit" name="reset" id="reset" value="Reset" onClick="handle_reset_config()">

</div>
