[% IF keyword %]

[% USE date %]

[% IF check_time < (date.now - 24*60*60) %]
<span dojoType="dijit.Tooltip" connectId="host_results_out_of_date_msg" toggle="fade">
This error likely means that the caching program is either not running or is failing.<br>
Make sure that cron is running and that the host has network connectivity.<br>
If both are working and it's still failing, email the user list.
</span>
<div id="host_results_out_of_date_msg" style="color:red">The results returned may be out of date. Ensure that the caching program is correctly running.</div>
[% END %]

<table class="basic_table">
	<tr><th colspan=3>Members Of [% keyword %] Community [% IF check_time -%] As Of [% date.format(check_time, '%Y-%m-%d %H:%M') %] [% END %]</th></tr>

        [% FOREACH host_info IN hosts %]
	<tr>
        <td class='top' colspan=3>[% host_info.description %]</td>
	</tr>
	[% FOREACH address IN host_info.addresses %]
	<tr>
		[% IF loop.last; SET class = 'bottom'; ELSE; SET class='middle'; END %]
			
		<td class='[% class %]'></td>
		[% IF address.dns_name %]
		<td class='[% class %]'>[% address.dns_name %]([%- address.ip -%])</td>
		[% ELSE %]
		<td class='[% class %]'>[% address.ip %]</td>
		[% END %]
		<td class='[% class %]'>
			<a href="#" onClick="add_test_member('[% current_test.id %]', '[% address.address %]', '[% address.port %]', '[% host_info.description %]')">Add To Test</a>
    		</td>
	</tr>
	[% END %]

	[% END %]
</table>

[% END %]
