<table class="basic_table">
<tr>
<th style="width: 300px" colspan="2">Test Parameters</th>
</tr>

	<tr>
	<td style="width: 200px">Description</td>
	<td>[% current_test.description %]</td>
	<!--<td>[% current_test.description | replace("'", "") %]</td>-->
	</tr>
	<tr>
	<td style="width: 200px">Interface</td>
	<td>[% IF current_test.parameters.local_interface %] [% current_test.parameters.local_interface %] [% ELSE %] Default [% END %]</td>
	</tr>
[% IF current_test.parameters.test_interval %]
	<tr>
	<td style="width: 200px">Time Between Tests (seconds)</td><td>[% current_test.parameters.test_interval %]</td>
	</tr>
[% END %]
[% IF current_test.parameters.test_schedule %]
	<tr>
	<td style="width: 200px">Test Schedule</td><td>[% current_test.parameters.test_schedule.join(", ") %]</td>
	</tr>
[% END %]
[% IF current_test.type == "pinger" %]
	<tr>
	<td style="width: 200px">Packets Sent Per Test</td><td>[% current_test.parameters.packet_count %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Time Between Packets (seconds)</td><td>[% current_test.parameters.packet_interval %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Size Of Test Packets</td><td>[% current_test.parameters.packet_size %]</td>
	</tr>
	<tr>
	<td colspan="2"><a href="#" onClick='display_pinger_test_dialog("[% current_test.id %]", "[% current_test.id_num %]", "[% current_test.parameters.packet_size %]", "[% current_test.parameters.packet_count %]", "[% current_test.parameters.packet_interval %]", "[% current_test.parameters.test_interval %]", "[% current_test.parameters.test_offset %]", "[% current_test.parameters.ttl %]", "[% current_test.parameters.local_interface %]", "[% current_test.parameters.test_schedule.join(", ") %]")'>Edit Test Parameters</a>
<input type="hidden" id="test_[% current_test.id_num %]_description" value="[% current_test.description | html_entity %]" />

</td>

	</tr>
[% ELSIF current_test.type == "bwctl/throughput" %]
	<tr>
	<td style="width: 200px">Test Duration (seconds)</td><td>[% current_test.parameters.duration %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Protocol</td><td>[% IF current_test.parameters.protocol == "tcp" %] TCP [% ELSE %] UDP [% END %] </td>
	</tr>
	[% IF current_test.parameters.protocol == "udp" %]
	<tr>
	<td style="width: 200px">UDP Bandwidth (Mbps)</td><td>[% current_test.parameters.udp_bandwidth %]</td>
	</tr>
	[% END %]
	<tr>
	<td style="width: 200px">Use Autotuning</td><td>[% IF current_test.parameters.window_size %] no [% ELSE %] yes [% END %]</td>
	</tr>
	[% IF current_test.parameters.window_size %]
	<tr>
	<td style="width: 200px">Window Size (Megabytes)</td><td>[% current_test.parameters.window_size %]</td>
	</tr>
	[% END %]
	<tr>
	<td style="width: 200px">TOS Bits</td><td>[% IF current_test.parameters.tos_bits %]  [% current_test.parameters.tos_bits %] [% ELSE %] 0 [% END %] </td>
	</tr>
	<tr>
	<td colspan="2"><a href="#" onClick='display_bwctl_throughput_test_dialog("[% current_test.id %]", "[% current_test.id_num %]", "[% current_test.parameters.test_interval %]", "[% current_test.parameters.duration %]", "[% current_test.parameters.tool %]", "[% current_test.parameters.protocol %]", "[% current_test.parameters.window_size %]", "[% current_test.parameters.udp_bandwidth %]", "[% current_test.parameters.tos_bits %]", "[% current_test.parameters.local_interface %]", "[% current_test.parameters.test_schedule.join(", ") %]")'>Edit Test Parameters</a>
<input type="hidden" id="test_[% current_test.id_num %]_description" value="[% current_test.description | html_entity %]" />
</td>
	</tr>
[% ELSIF current_test.type == "owamp" %]
	<tr>
	<td style="width: 200px">Packet Rate (packets per second)</td><td>[% 1 div current_test.parameters.packet_interval %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Packet Size (bytes)</td><td>[% current_test.parameters.packet_padding + 20 %]</td>
	</tr>
	<tr>
	<td colspan="2"><a href="#" onClick='display_owamp_test_dialog("[% current_test.id %]", "[% current_test.id_num %]", "[% current_test.parameters.packet_interval %]", "[% current_test.parameters.packet_padding %]", "[% current_test.parameters.loss_threshold %]", "[% current_test.parameters.bucket_width %]", "[% current_test.parameters.session_count %]", "[% current_test.parameters.sample_count %]", "[% current_test.parameters.local_interface %]", "[% current_test.parameters.test_schedule.join(", ") %]")'>Edit Test Parameters</a>
<input type="hidden" id="test_[% current_test.id_num %]_description" value="[% current_test.description | html_entity %]" />
</td>
	</tr>
[% ELSIF current_test.type == "traceroute" %]
    <tr>
	<td style="width: 200px">Tool</td><td>[% current_test.parameters.tool %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Packet Size (bytes)</td><td>[% current_test.parameters.packet_size %]</td>
	</tr>
	<tr>
	<td style="width: 200px">First hop to report</td><td>[% current_test.parameters.first_ttl %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Maximum Number of Hops</td><td>[% current_test.parameters.max_ttl %]</td>
	</tr>
	<tr>
	<td colspan="2"><a href="#" onClick='display_traceroute_test_dialog("[% current_test.id %]", "[% current_test.id_num %]", "[% current_test.parameters.test_interval %]", "[% current_test.parameters.packet_size %]", "[% current_test.parameters.first_ttl %]", "[% current_test.parameters.max_ttl %]", "[% current_test.parameters.local_interface %]", "[% current_test.parameters.test_schedule.join(", ") %]", "[% current_test.parameters.tool %]")'>Edit Test Parameters</a>
<input type="hidden" id="test_[% current_test.id_num %]_description" value="[% current_test.description | html_entity %]" />
</td>
	</tr>
[% END %]
</table>

<table class="basic_table">
<tr><th colspan=4>Test Members</th></tr>
[% USE test_member_iter = iterator(current_test.members) %]
[% UNLESS current_test.members.0 %]
<tr><td width="300px">No Members In Test</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
[% ELSE %]
[% FOREACH member_info IN current_test.members %]
[% IF member_info.test_ipv4 AND member_info.test_ipv6 %]
    [% SET address_types = "ipv4&nbsp;and&nbsp;ipv6" %]
[% ELSIF member_info.test_ipv4 %]
    [% SET address_types = "ipv4&nbsp;only" %]
[% ELSE %]
    [% SET address_types = "ipv6&nbsp;only" %]
[% END %]

<tr><td width="200px">[% member_info.address %]</td><td width="400px">[% member_info.description  | replace("'", "") %]</td><td>[% address_types %]</td><td><a href="#" onClick="edit_test_member('[% current_test.id %]', '[% member_info.id %]', '[%- member_info.address -%]', '[%- member_info.description | replace("'", "") -%]', [% member_info.can_test_ipv4 %], [% member_info.test_ipv4 %], [% member_info.can_test_ipv6 %], [% member_info.test_ipv6 %])">Edit</a> <a href="#" onClick="remove_test_member('[% current_test.id %]', '[% member_info.id %]')">Delete</a></tr>
[% END %]
[% END %]
</table>

<input class="button" type="submit" name="display_add_new_host_button" id="display_add_new_host_button" onClick="display_add_new_host_dialog('[% current_test.id %]', '[% current_test.type %]')" value="Add New Host">
