<table class="basic_table">
<tr>
<th style="width: 300px" colspan="2">Test Parameters</th>
</tr>

[% IF current_test.type == "pinger" %]
	<tr>
	<td style="width: 200px">Description</td>
	<td>[% current_test.description %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Time Between Tests (seconds)</td><td>[% current_test.parameters.test_interval %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Packets Sent Per Test</td><td>[% current_test.parameters.packet_count %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Time Between Packets (seconds)</td><td>[% current_test.parameters.packet_interval %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Size Of Test Packets</td><td>[% current_test.parameters.packet_size %]</td>
	</tr>
	<tr>
	<td colspan="2"><a href="#" onClick='display_pinger_test_dialog("[% current_test.id %]", "[% current_test.description %]", "[% current_test.parameters.packet_size %]", "[% current_test.parameters.packet_count %]", "[% current_test.parameters.packet_interval %]", "[% current_test.parameters.test_interval %]", "[% current_test.parameters.test_offset %]", "[% current_test.parameters.ttl %]")'>Edit Test Parameters</a></td>
	</tr>
[% ELSIF current_test.type == "bwctl/throughput" %]
	<tr>
	<td style="width: 200px">Description</td>
	<td>[% current_test.description %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Test Duration (seconds)</td><td>[% current_test.parameters.duration %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Inter-Test Interval (seconds)</td><td>[% current_test.parameters.test_interval %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Bandwidth Tester</td>
	<td>
		[% IF current_test.parameters.tool == "iperf" %]Iperf[% END %]
		[% IF current_test.parameters.tool == "nuttcp" %]nuttcp[% END %]
		[% IF current_test.parameters.tool == "thrulay" %]Thrulay[% END %]
	</td>
	</tr>
	<tr>
	<td style="width: 200px">Protocol</td><td>[% IF current_test.parameters.protocol == "tcp" %] TCP [% ELSE %] UDP [% END %] </td>
	</tr>
	[% IF current_test.parameters.protocol == "udp" %]
	<tr>
	<td style="width: 200px">UDP Bandwidth (Mbps)</td><td>[% current_test.parameters.udp_bandwidth %]</td>
	</tr>
	[% END %]
	<tr>
	<td style="width: 200px">Use Autotuning</td><td>[% IF current_test.parameters.window_size %] no [% ELSE %] yes [% END %]</td>
	</tr>
	[% IF current_test.parameters.window_size %]
	<tr>
	<td style="width: 200px">Window Size (Megabytes)</td><td>[% current_test.parameters.window_size %]</td>
	</tr>
	[% END %]
	<tr>
	<td style="width: 200px">TOS Bits</td><td>[% IF current_test.parameters.tos_bits %]  [% current_test.parameters.tos_bits %] [% ELSE %] 0 [% END %] </td>
	</tr>
	<tr>
	<td colspan="2"><a href="#" onClick='display_bwctl_throughput_test_dialog("[% current_test.id %]", "[% current_test.description %]", "[% current_test.parameters.test_interval %]", "[% current_test.parameters.duration %]", "[% current_test.parameters.tool %]", "[% current_test.parameters.protocol %]", "[% current_test.parameters.window_size %]", "[% current_test.parameters.udp_bandwidth %]", "[% current_test.parameters.tos_bits %]")'>Edit Test Parameters</a></td>
	</tr>
[% ELSIF current_test.type == "owamp" %]
	<tr>
	<td style="width: 200px">Description</td>
	<td>[% current_test.description %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Packet Rate (packets per second)</td><td>[% 1 div current_test.parameters.packet_interval %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Packet Size (bytes)</td><td>[% current_test.parameters.packet_padding + 20 %]</td>
	</tr>
	<tr>
	<td colspan="2"><a href="#" onClick='display_owamp_test_dialog("[% current_test.id %]", "[% current_test.description %]", "[% current_test.parameters.packet_interval %]", "[% current_test.parameters.packet_padding %]", "[% current_test.parameters.loss_threshold %]", "[% current_test.parameters.bucket_width %]", "[% current_test.parameters.session_count %]", "[% current_test.parameters.sample_count %]")'>Edit Test Parameters</a></td>
	</tr>
[% ELSIF current_test.type == "traceroute" %]
	<tr>
	<td style="width: 200px">Description</td>
	<td>[% current_test.description %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Time between tests (seconds)</td><td>[% current_test.parameters.test_interval %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Packet Size (bytes)</td><td>[% current_test.parameters.packet_size %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Time between packets (seconds)</td><td>[% current_test.parameters.pause %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Timeout for test (seconds)</td><td>[% current_test.parameters.timeout %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Timeout for individual hops (seconds)</td><td>[% current_test.parameters.waittime %]</td>
	</tr>
	<tr>
	<td style="width: 200px">First hop to report</td><td>[% current_test.parameters.first_ttl %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Maximum Number of Hops</td><td>[% current_test.parameters.max_ttl %]</td>
	</tr>
	<tr>
	<td style="width: 200px">Protocol</td><td>[% current_test.parameters.protocol %]</td>
	</tr>
	<tr>
	<td colspan="2"><a href="#" onClick='display_traceroute_test_dialog("[% current_test.id %]", "[% current_test.description %]", [% current_test.parameters.test_interval %], [% current_test.parameters.packet_size %], [% current_test.parameters.timeout %], [% current_test.parameters.waittime %], [% current_test.parameters.first_ttl %], [% current_test.parameters.max_ttl %], [% current_test.parameters.pause %], "[% current_test.parameters.protocol %]")'>Edit Test Parameters</a></td>
	</tr>
[% END %]
</table>

<table class="basic_table">
<tr><th colspan=3>Test Members</th></tr>
<!-- <tr><th>Address</th><th>Description</th><th>Actions</th></tr> -->
[% USE test_member_iter = iterator(current_test.members) %]
[% UNLESS current_test.members.0 %]
<tr><td width="300px">No Members In Test</td><td>&nbsp;</td><td>&nbsp;</td></tr>
[% ELSE %]
[% FOREACH member_info IN current_test.members %]
<tr><td width="200px">[% member_info.address %]</td><td width="400px">[% member_info.description %]</td><td><a href="#" onClick="remove_test_member('[% current_test.id %]', '[% member_info.id %]')">Delete</a></tr>
[% END %]
[% END %]
</table>

<input class="button" type="submit" name="display_add_new_host_button" id="display_add_new_host_button" onClick="display_add_new_host_dialog('[% current_test.id %]', '[% current_test.type %]')" value="Add New Host">
