/*------------------------------------------------------------------------------

    Utilities

------------------------------------------------------------------------------*/
/* Color classes */
.color-primary {
  color: #0089ff !important;
}

.color-bg-accent {
  color: #f7f7f7 !important;
}

.color-light, .test_results .host_ip {
  color: #919ca1 !important;
}

.color-medium {
  color: #4d565b !important;
}

.color-black {
  color: #383f44 !important;
}

.color-success {
  color: #a2d4ba !important;
}

.color-message {
  color: #f3dda8 !important;
}

.color-failure {
  color: #f7a9a1 !important;
}

.color-disabled {
  color: #919ca1 !important;
}

.color-red, #host_services .off {
  color: #ef402f !important;
}

.color-yellow {
  color: #e5b53e !important;
}

.color-green, #host_services .running {
  color: #32a066 !important;
}

#host_services .disabled {
  color: #A9B1B5;
}

/* Typography classes */
.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-size--small {
  font-size: 0.8em;
}

/* Float classes */
.left {
  float: left;
}

.right {
  float: right;
}

/* Lists add to ul and ol */

.no-list {
  list-style: none;
  padding-left: 0;
}

/* Visibility classes */
.hidden {
  display: none;
}

.visible-inline {
  display: inline-block;
}

.display-inline {
  display: inline-block !important;
}

/* Margin utilities */

.no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

small.warning {
    color: #999;
    margin-bottom: 2px;
    display:block;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------------------------------------------------

    Base styles

------------------------------------------------------------------------------*/
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  color: #383f44;
  /* Set base font-size to 14px to start out with due to how much text is on
  ** the screen at one time
  */
  font-size: 87.5%;
}

html,
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  color: #383f44;
}

a {
  color: #0089ff;
  /* text-decoration: underline; */
}
a:hover {
  color: #a5d5ff;
}

a:focus {
  color: #006dcc;
}

/*
** These rules overide Foundation's more specific styles for lists
** Switching these to em make the relational to the base font size
** that we can adjust if we want to scale up the font on bigger screens.
*/
ol,
ul,
dl {
  font-size: 1em;
}

p {
  font-size: 1em;
}

/* End text-level Foundation overides */
strong {
  font-weight: 700;
}

select {
  margin-bottom: 1em;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
** Foundation overrides
** We need these rules to override some of the Foundation grid functionality
** to make it match the fluid nature of the app.
*/
.row {
  max-width: 100%;
}

.row--fixed {
  max-width: 1080px;
}

/*------------------------------------------------------------------------------

    Utitilities

------------------------------------------------------------------------------*/
/*
** Make an unordered list display inline, remove list style, and margins
*/
.u-list-nav {
  list-style-type: none;
  margin: 0;
}
.u-list-nav li {
  display: inline-block;
}

/*------------------------------------------------------------------------------

    Grid

------------------------------------------------------------------------------*/
.container {
  max-width: 100%;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container:before {
  content: "";
  display: block;
  clear: both;
}

.collapse .unit:first-child {
  padding-left: 0;
}
.collapse .unit:last-child {
  padding-right: 0;
}

.unit {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.unit:after {
  content: "";
  display: block;
  clear: both;
}

.container.kill-vertical .unit {
  padding-top: 0;
  padding-bottom: 0;
}

/* Get rid of container padding when grids are nested */
.container .container .unit {
  padding-top: 0;
}
.container .container .unit:first-child {
  padding-left: 0;
}
.container .container .unit:last-child {
  padding-right: 0;
}

.centered {
  margin: 0 auto;
  float: none !important;
}

.last {
  float: right;
}

.whole {
  width: 100%;
}

.half {
  width: 50%;
}

.one-third {
  width: 33.33333%;
}

.two-thirds {
  width: 66.666666666667%;
}

.one-fourth {
  width: 25%;
}

.three-fourths {
  width: 75%;
}

.one-fifth {
  width: 20%;
}

.two-fifths {
  width: 40%;
}

.three-fifths {
  width: 60%;
}

.four-fifths {
  width: 80%;
}

/* Push and pull classes */
.push {
  float: right;
}

.pull {
  float: left;
}

.container > .unit.pull {
  padding-left: 0;
  padding-right: 24px !important;
}

.container > .unit.push {
  padding-right: 0;
  padding-left: 24px !important;
}

/* List grid */
ul.list-grid-fourths {
  display: block;
  list-style-type: none;
  margin: -24px;
}
ul.list-grid-fourths:after {
  content: "";
  display: block;
  clear: both;
}
ul.list-grid-fourths li {
  display: block;
  float: left;
  width: 25%;
  padding: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.list-grid-thirds {
  display: block;
  list-style-type: none;
  margin: -24px;
}
ul.list-grid-thirds:after {
  content: "";
  display: block;
  clear: both;
}
ul.list-grid-thirds li {
  display: block;
  float: left;
  width: 33.333333333333%;
  padding: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .unit {
    float: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .unit .container .unit:first-child {
    padding-top: 0;
  }

  .container .container .unit {
    padding: 24px 0;
  }

  /* Small grid - This will keep the proportions of the grid even on small devices */
  .container.small-grid .unit.half {
    width: 50%;
    float: left;
  }

  .container.small-grid .unit.one-third {
    width: 33.333333333333%;
    float: left;
  }

  .container.small-grid .unit.two-thirds {
    width: 66.666666666667%;
    float: left;
  }

  .container.small-grid .unit.one-fourth {
    width: 25%;
    float: left;
  }

  .container.small-grid .unit.three-fourths {
    width: 75%;
    float: left;
  }

  .container.small-grid .unit.one-fifth {
    width: 20%;
    float: left;
  }

  .container.small-grid .unit.two-fifths {
    width: 40%;
    float: left;
  }

  .container.small-grid .unit.three-fifths {
    width: 60%;
    float: left;
  }

  .container.small-grid .unit.four-fifths {
    width: 80%;
    float: left;
  }

  .whole,
  .half,
  .one-third,
  .two-thirds,
  .one-fourth,
  .three-fourths,
  .one-fifth,
  .two-fifths,
  .three-fifths,
  .four-fifths {
    width: 100% !important;
  }

  .push,
  .pull {
    float: none;
  }

  .container > .unit.pull {
    padding-left: 0;
    padding-right: 0 !important;
  }

  .container > .unit.push {
    padding-right: 0;
    padding-left: 0 !important;
  }

  ul.list-grid-fourths li {
    width: 100%;
    float: none;
  }

  ul.list-grid-thirds li {
    width: 100%;
    float: none;
  }
}
/*------------------------------------------------------------------------------

    Main app header

------------------------------------------------------------------------------*/
.app-header {
  padding: 1em 2em;
  background-color: #383f44;
  color: white;
}
.app-header:after {
  content: "";
  clear: both;
  display: block;
}
.app-header h1 {
  margin: 0;
  color: white;
  font-size: 1em;
  padding-top: .15em;
}
.app-header h1 a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 580px) {
  .app-header {
    padding: 1em 12px;
  }
}
.app-logo {
  float: left;
}
.app-logo h1 {
  font-size: 1.35em;
  float:right;
  margin-top: 0;
}

.app-header img.logo {
  height: auto;
  max-width: 150px;
  margin-right: 1em;
}

@media screen and (max-width: 580px) {
  .app-logo h1 {
    font-size: .9em;
  }
}
.app-nav {
  float: right;
  text-align: right;
}
.app-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.app-nav ul li {
  display: inline-block;
  margin-right: 1.25em;
}
.app-nav ul li:last-child {
  margin-right: 0;
}
.app-nav ul li a {
  color: white;
  display: inline-block;
  padding: .25em .5em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.app-nav ul li a:hover {
  background-color: #0089ff;
  border-color: #0089ff;
  color: white;
}
.app-nav ul li a:hover i {
  color: white;
}
.app-nav ul li a i {
  display: inline-block;
  margin: 0 .25em;
  color: white;
}

@media screen and (max-width: 580px) {
  .app-nav ul li {
    margin-right: .8em;
  }

  .app-nav ul li a {
    font-size: .8em;
  }
}
/* Dropdowns */

/* These selectors are very specific makes them less reusable
 * with any kind of variation in the markup (on the graphs
 * for instance). I added a less specific versio of each
 * selector, just in case, but I would say the super specific
 * ones could be removed.
*/
li.nav-dropdown,
.nav-dropdown {
  position: relative;
}

li.nav-dropdown ul.nav-dropdown-menu,
.nav-dropdown-menu {
  display: none;
  position: absolute;
  min-width: 250px;
  top: 42px;
  right: 0px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .13);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .13);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, .13);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .13);
}
li.nav-dropdown ul.nav-dropdown-menu:before,
.nav-dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent white;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  right: 25px;
  z-index: 99;
}
li.nav-dropdown ul.nav-dropdown-menu li,
.nav-dropdown .nav-dropdown-menu li {
  display: block;
  margin: 0;
  text-align: left;
}
li.nav-dropdown ul.nav-dropdown-menu li a,
.nav-dropdown .nav-dropdown-menu li a {
  display: block;
  margin: 0;
  padding: 8px 10px;
  border: none;
  border-radius: 0;
  color: #4d565b;
}
li.nav-dropdown ul.nav-dropdown-menu li a:hover,
.nav-dropdown .nav-dropdown-menu li a:hover {
  background-color: #ddd;
  color: #0089ff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.nav-dropdown-menu.visible {
  display: block !important;
}

.nav-dropdown-menu__heading {
    font-weight: 700;
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
}

/*------------------------------------------------------------------------------

    Footer

------------------------------------------------------------------------------*/
.site-footer {
  display: block;
  padding: 2em;
  margin-top: 5em;
  text-align: right;
  color: #919ca1;
  border-top: 1px solid #ddd;
}

/*------------------------------------------------------------------------------

    Main sidebar nav

------------------------------------------------------------------------------*/
.sidebar {
  width: 25%;
  float: left;
  min-height: 100%;
  background-color: #f7f7f7;
  border-left: 1px solid #ddd;
  float: right;
  position: relative;
}

.sidebar:after {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  bottom: -99em;
  height: 99em;
  width: 100%;
  background: #f7f7f7;
  border-left: 1px solid #ddd;
}

@media screen and (max-width: 850px) {
  .sidebar {
    width: 100%;
    float: none;
    padding: 0 1em;
  }
}
.sidebar__heading {
  font-size: 1em;
  font-weight: 700;
  background-color: #eaeaea;
  margin: 1em 0 0 0;
  padding: 1em 1.5em;
}
.sidebar__heading i {
  color: #4d565b;
}
.sidebar__heading:first-of-type {
  margin-top: 0;
}

.sidebar-list {
  display: block;
  list-style-type: none;
  margin: 0;
}

.sidebar-list__item {
  padding: .5em 1em .5em 1.5em;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.sidebar-list__item:after {
  content: "";
  clear: both;
  display: block;
}
.sidebar-list__item:last-child {
  border-bottom: none;
}

.sidebar-list__item a {
  text-decoration: none;
}

.sidebar-list__parameter {
  width: 50%;
  float: left;
  overflow-wrap: break-word;
  color:#919ca1;
}
.sidebar-list__parameter.communities {
  width: 100%;
  padding: 0 0 .3em 0;
}

.sidebar-list__value {
  float: left;
  width: 50%;
  overflow-wrap: break-word;
}
.sidebar-list__value.communities {
  width: 100%;
  padding: 0;
}

/* 
  Graph Options popover
*/
.sidebar-popover.options-popover {
  position: absolute;
  top: 17em;
  right: 2.5%;
  background-color: white;
  color: #383f44;
  z-index: 105;
  padding: 2em;
  border-radius: 4px;
  border: 1px solid #383f44;
  min-width: 55%;
}

.options-popover .sidebar-popover__close, .sidebar-popover i.fa {
  color: #a9b1b5;
}

.options-popover__heading {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  font-size: 1.2em;
  color: #383f44;
  padding: 0 0 .2em 0;
}

.options-popover__list {
  list-style: none;
  margin: 0em 0;
}

.options-popover__list>li {
  padding: 0.1em 0;
  white-space: nowrap;
}

.options-popover__list .options-popover__row {
  margin: 0;
}

.options-popover__row>li {
  list-style: none;
  display: inline-block;
}

.options-popover__row li:first-child {
    width: 16%;
    margin-right: 8px;
    color: black:
}

.options-popover__row input[type="checkbox"] {
   margin: 0;
}
.options-popover__row input[type="checkbox"]+label {
    margin-left: .1em;
}

#timeperiod {
    width:60%;
    margin: 0 .75em 0 .75em;
    border: 1px solid #919ca1;
    padding: 0 0.5rem;
}

span.timerange_holder {
    float:left;
    margin:0.1rem 0.4rem;
}

/*
  Sidebar popover
*/

.sidebar-popover {
  display: none;
  position: absolute;
  top: 2.65em;
  right: 2.5%;
  background-color: rgba(56, 63, 68, .95);
  color: #fff;
  z-index: 205;
  padding: .75em;
  border-radius: 4px;
  min-width: 95%;
  font-size:95%;
}

.sidebar-popover.double {
  width: 180%;
}

.sidebar-popover--overview {
    top: 5.75em;
}

.sidebar-popover :after {
  content: "";
  clear: both;
  display: block;
}

.sidebar-popover__heading {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  font-size: 1.2em;
  color: #fff;
  padding: 1em 0 .5em 0;
  clear: left;}

.sidebar-popover__heading:first-of-type {
  /*padding-top: 0;*/
}

.sidebar-popover__list,
.sidebar-popover-double__list {
  list-style: none;
  margin: 0;
}

.sidebar-popover-double__list {
  width: 50%;
  float: left;
  padding: 0 .75em;
}

.sidebar-popover-double__list.onright {
  border-left: 1px solid rgba(255, 255, 255, .2);
}

.sidebar-popover__item {
  padding: .2em 0;
}

.sidebar-popover__param,
.sidebar-popover__value,
.sidebar-popover__param-3col,
.sidebar-popover__value-3col,
.sidebar-popover__subvalue_wide {
  display: block;
}

.sidebar-popover__param {
  float: left;
  color: #ccc;
  width: 45%;
}

.sidebar-popover__param-3col {
  float: left;
  color: #ccc;
  width: 33%;
}
.sidebar-popover__param-3col.right {
  text-align: right;
}

.sidebar-popover__value {
  float: right;
  text-align: right;
  width: 55%;
}

.sidebar-popover__value-3col {
  float: left;
  text-align: right;
  width: 33%;
}

.sidebar-popover__subvalue_wide {
  float: right;
  width: 90%;
  text-align: right;
  font-size: 85%;
  color: #ccc;
  margin: -3px 0 5px 0;
}

.sidebar-popover-toggle:focus {
  color: #0089ff;
}

.sidebar-popover__close {
  color: #ccc;
  display: block;
  position: absolute;
  top: .9em;
  right: .7em;
}

.sidebar-popover__close:hover i {
  color: #a5d5ff;
}

.sidebar-popover__close i {
  color: #fff;
}

/*------------------------------------------------------------------------------

    Breadcrumbs

------------------------------------------------------------------------------*/
.nav--breadcrumbs {
  padding: 0;
  margin-bottom: 2em;
}
.nav--breadcrumbs li:after {
  content: "/";
  display: inline-block;
  margin: 0 10px;
  color: #919ca1;
}
.nav--breadcrumbs li:last-child:after {
  content: "";
}

.nav--breadcrumbs li a,
.nav--breadcrumbs li a i {
  color: #919ca1;
}

.nav--breadcrumbs li a:hover,
.nav--breadcrumbs li a:hover i {
  color: #0089ff;
}

.nav--breadcrumbs li.active a,
.nav--breadcrumbs li.active a i {
  color: #0089ff;
  cursor: default;
}

/*------------------------------------------------------------------------------

    Tables

------------------------------------------------------------------------------*/
table {
  border: none;
  font-size: 1em !important;
  width: 100%;
  overflow: auto;
}

table tr td {
  font-size: 1em;
  padding: .75em .5em;
}

table thead {
  background-color: transparent;
}

table thead tr th,
.sub-heading {
  font-weight: 400;
  color: #919ca1;
  text-transform: uppercase;
  letter-spacing: .07em;
  background-color:#eee;
}

/*
**  Override: make zebra stripes on tables a bit darker
*/

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background-color:#eee;
}

table tr.odd, table tr:nth-of-type(odd) { 
    background-color: #fff;
}

.services {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.services--title {
  /*color: #919ca1;*/
  /* color:##383F44; */
  color: #0089FF;
  display: block;
  font-weight: 700;
  text-decoration: none;
}

.services--title-link, .services--title a {
  display: block;
  font-weight: 700;
  text-decoration: none;
}
.services--title-link i {
  color: #919ca1;
}

.services--list {
  display: none;
  list-style-type: none;
  margin-top: .75em;
  /* This (-999px) is a hack to fix some weirdness caused by the jQuery toggle we are using */
  padding-left: 1em;
  border-left: 5px solid #ddd;
}
.services--list li {
  padding: .35em 0;
}

.visible-inline {
  display: inline-block;
}

/* Test results */
.test-results:after {
  content: "";
  clear: both;
  display: block;
}
table.test_results tr {
  vertical-align: top;
}
.test-results table tr td span,
.test-results table tr td a {
  display: block;
  line-height: 1.5;
}
.test_results .traceroute_link_container.has_traceroute {
    display:inline;
}
.test_results .traceroute_link_container {
    display:none;
}

/* Pay special attention here. For some reason, this fontawesome override doesn't work with .test-results, only .test_results. */
.test_results i.fa {
  font-size: 10px;
  color: #919ca1;
}

.test_results i.fa-external-link {
    color:inherit;
}

i.fa.disabled, tr.disabled td, tr.disabled td i.fa {
    color:#aaa;
}


td.test-values {
  font-weight:bold;
}
td.test-values.loss {
    white-space: nowrap;
}

.test-results--warnings {
  list-style-type: none;
  margin: 0;
}

.timeperiod-div {
    width: 170px;
    float: right;
    position: relative;
    z-index: 101;
    }
#testResultsTable_filter label input {
    height: 19px;
    margin-left: 0px;
    display: block !important;
}
#testResultsTable_length label {
    color: #999;
}
#testResultsTable_length select {
    padding: 0 8 1 8;
    height: 30;
}
#testResultsTable_info {
    margin: 0 30px 0 30px;
}
#testResultsTable thead .sorting, #testResultsTable thead .sorting_asc, #testResultsTable thead .sorting_desc, #testResultsTable thead .sorting_asc_disabled, #testResultsTable thead .sorting_desc_disabled {
    background-position: center left;
}
#testResultsTable thead > tr > th.sorting_asc, #testResultsTable thead > tr > th.sorting_desc, #testResultsTable thead > tr > th.sorting, #testResultsTable thead > tr > td.sorting_asc, #testResultsTable thead > tr > td.sorting_desc, #testResultsTable thead > tr > td.sorting {
    padding-left: 1.5em;
}

@media screen and (max-width: 580px) {
  .test-results, .services {
    overflow-x: scroll;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 1em;
  }
}
/*------------------------------------------------------------------------------

    Forms

------------------------------------------------------------------------------*/
label {
  color: #4d565b;
}

.inline-label {
  display: inline;
}

fieldset {
  border-color: #ddd;
  background-color: #f7f7f7;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.inline-input {
  display: inline !important;
  width: auto;
}

.advanced_params { 
  padding-top: 4px;
  display: none;
}

/*------------------------------------------------------------------------------

    Alerts

------------------------------------------------------------------------------*/
/* Altert colors */
.alert-success {
  color: #a2d4ba;
}

.alert-message {
  color: #f3dda8;
}

.alert-failure {
  color: #f7a9a1;
}

.alert-disabled {
  color: #919ca1;
}

.alert-message--bg {
  background-color: #f3dda8;
}

.alert-failure--bg {
  background-color: #f7a9a1;
}

/* Block alerts - these will fill the full width of the parent container */
.alert-small-success, .alert-small-success--inline {
  position: relative;
  display: block;
  margin: 1em 0;
  padding: .2em .45em;
  background-color: #a2d4ba;
  color: #698978;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.alert-small-success i, .alert-small-success--inline i {
  color: #698978;
}

.alert-small-message, .alert-small-message--inline {
  position: relative;
  display: block;
  margin: 1em 0;
  padding: .2em .45em;
  background-color: #f3dda8;
  color: #9d8f6d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.alert-small-message i, .alert-small-message--inline i {
  color: #9d8f6d;
}

.alert-small-failure, .alert-small-failure--inline {
  position: relative;
  display: block;
  margin: 1em 0;
  padding: .2em .45em;
  background-color: #f7a9a1;
  color: #a06d68;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.alert-small-failure i, .alert-small-failure--inline i {
  color: #a06d68;
}

/* Inline Alerts - these will display inline and will only be the width of the content inside */
.alert-small-success--inline {
  display: inline-block;
}

.alert-small-message--inline {
  display: inline-block;
}

.alert-small-failure--inline {
  display: inline-block;
}

.alert-small-failure a, .alert-small-failure--inline a,
.alert-small-message a,
.alert-small-message--inline a,
.alert-small-success a,
.alert-small-success--inline a {
  color: #383f44;
}
.alert-small-failure a:hover, .alert-small-failure--inline a:hover,
.alert-small-message a:hover,
.alert-small-message--inline a:hover,
.alert-small-success a:hover,
.alert-small-success--inline a:hover {
  color: #9b9fa1;
}

.alert--dismiss {
  display: inline-block;
  position: absolute;
  top: 0;
  right: .65em;
}

/*------------------------------------------------------------------------------

    Buttons

------------------------------------------------------------------------------*/

button:hover, button:focus {
  background-color: #8f9699;
}

button,
input[type="submit"],
input[type="button"],
.button-primary,
.button-primary--small,
.button-secondary,
.button-secondary:hover,
.button-secondary--small,
.button-secondary--small:hover,
.button-alternate,
.button-alternate:hover,
.button-alternate--small,
.button-alternate--small:hover,
input.button-primary,
input.button-primary--small,
input.button-secondary,
input.button-secondary--small,
input.button-alternate,
input.button-alternate--small {
  display: inline-block;
  padding: .25em .45em;
  line-height: 1.65;
  min-width: 120px;
  min-height: 37px;
  color: white;
  background-color: #0089ff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

.button-primary,
.button-primary--small,
input.button-primary,
input.button-primary--small {
  background-color: #0089ff;
}
.button-primary:hover,
.button-primary--small:hover,
input.button-primary:hover,
input.button-primary--small:hover {
  background-color: #0074d8;
}

input[type='button']:disabled, input[type='button']:disabled.cancel, input[type='submit']:disabled {
    color:#ddd;
    border-color:#ddd;
}

input[type='button']:disabled.button-primary,
input[type='submit']:disabled.button-primary  {
    background-color: rgba(0, 137, 255, 0.81);
}

input[type='button']:disabled.button-primary.cancel, input[type='button']:disabled.button-primary.cancel:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button-secondary,
.button-secondary--small,
input.button-secondary,
input.button-secondary--small {
  background-color: #32a066;
}
.button-secondary:hover,
.button-secondary--small:hover,
input.button-secondary:hover,
input.button-secondary--small:hover {
  background-color: #2a8856;
}

.button-alternate,
.button-alternate--small,
input.button-alternate,
input.button-alternate--small {
  background-color: #ef402f;
}
.button-alternate:hover,
.button-alternate--small:hover,
input.button-alternate:hover,
input.button-alternate--small:hover {
  background-color: #cb3627;
}

.button-quiet,
.button-quiet--small,
input.button-quiet,
input.button-quiet--small {
  background-color: transparent;
  border: 1px solid #919ca1;
  color: #4d565b;
}
.button-quiet:hover,
.button-quiet--small:hover,
input.button-quiet:hover,
input.button-quiet--small:hover {
  background-color: #8f9699;
}

.button-primary--small,
.button-secondary--small,
.button-alternate--small,
input.button-primary--small,
input.button-secondary--small,
input.button-alternate--small {
  padding: .25em .45em;
  line-height: 1.65;
}

.button-primary.hollow, input[type='button'].cancel {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: .25em .5em;
  border-radius: 4px;
  margin: 0;
}
.button-primary.hollow:hover, input[type='button']:enabled.cancel:hover {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #383f44;
}

.button-secondary--form-align,
.button-primary--form-align,
.button-quiet--form-align {
  margin-top: 1.5em;
  width: 100%;
}

/*
 * Button modifiers
*/


/*
 * This class will make a button take up the full width
 * of it's parent container.
*/
.button--full-width {
    display: block;
    width: 100%
}

/*
**  Overide Foundation dropdown buttons
*/

.dropdown.button::after, button.dropdown::after {
  border-color: #444 transparent transparent transparent;
}

.f-dropdown {
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px #ccc;
  -moz-box-shadow: 0px 2px 2px #ccc;
  -o-box-shadow: 0px 2px 2px #ccc;
  box-shadow: 0px 2px 2px #ccc;
}

.f-dropdown a {
  text-decoration: none;
}

/*
** Disabled states for Config buttons
*/

input[type='button']:disabled.button-primary, input[type='submit']:disabled.button-primary {
  background-color: #999;
  color: #666;
  border: none;
}

input[type='button']:disabled.button-primary:hover, input[type='submit']:disabled.button-primary:hover {
  background-color: #999;
  border-color: #999;
  color: #666;
  cursor: default;
}

input[type='button']:disabled.button-primary--hollow {
  border: 1px solid #999;
  color: #888;
  background-color:transparent;
}

input[type='button']:disabled.button-primary--hollow:hover {
  background-color: transparent;
  border-color: #999;
  color: #888;
  cursor: default;
}

.button-dropdown {

}

/*
**  Button group
*/

.button-group {
  padding: 1em 0;
}

.button-group-testing {
    float:right;
}

.button-group button, .button-group-testing button {
  margin-right: 1em;
}

.overview {
  background-color: #f7f7f7;
  position: relative;
  padding: 1em 1em 1em 2em;
  margin: 1em 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dedede;
}

.overview--no-pad {
    padding-left: 0;
    padding-right: 0;
}

.overview--list {
  margin-bottom: 0;
}
.overview--list dt, .overview--list dd {
  float: left;
  margin-bottom: 0;
}
.overview--list dt {
  clear: both;
  margin-right: .65em;
}

.overview--list:after {
  content: "";
  clear: both;
  display: block;
}

.overview--title {
  font-size: 1.75em;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: .65em;
}
.overview--title i {
  margin-left: -20px;
  color: #ef402f;
}

.overview--edit {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  padding: .75em 1em;
  color: #0089ff;
  text-decoration: none;
}
.overview--edit i {
  color: #0089ff;
}
.overview--edit:hover {
  text-decoration: underline;
  color: #a5d5ff;
}
.overview--edit:hover i {
  text-decoration: underline;
  color: #a5d5ff;
}

/* Module header block */
.module-header {
  position: relative;
  padding: .5em;
  background-color: #4d565b;
}

.module-header__title {
  font-size: 1.25em;
}

.module-header .module-header__title {
  margin: 0;
}

.module-header__action {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  padding: .6em .75em;
  border-left: 1px solid #353b40;
  color: #f7f7f7;
  text-decoration: none;
}
.module-header__action:hover i {
  color: #a5d5ff;
}
.module-header__action i {
  color: #f7f7f7;
}

@media screen and (max-width: 580px) {
  .module-header .module-header__action {
    display: block;
    position: relative;
    top: 0;
    border-left: none;
    padding: 0;
  }

  .module-header .module-header__title {
    display: block;
  }
}
/*------------------------------------------------------------------------------

    Aside - Components/modules use in sidebars, etc. for secondary
    or subordinate information.

------------------------------------------------------------------------------*/
.aside {
  position: relative;
  margin: 2em 0;
  background-color: #f7f7f7;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.aside a:hover {
  color: #a5d5ff;
}

.aside__heading {
  font-size: 1em;
  font-weight: 700;
  padding: .825em;
  margin-top: 0;
  background-color: #ddd;
}

.aside__list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: .825em;
}

.aside__list li {
  padding: .35em 0;
}
.aside__list li:after {
  content: "";
  clear: both;
  display: block;
}
.aside__list li:first-child {
  padding-top: 0;
}

.aside__list li a {
  text-decoration: none;
}

.aside--nav-list {
  list-style-type: none;
  margin: 0 0 1em 0;
}
.aside--nav-list li {
  border-bottom: 1px solid #3d4448;
  padding: .35em 0;
}
.aside--nav-list li:last-child {
  border-bottom: none;
}
.aside--nav-list li a {
  text-decoration: none;
  color: #919ca1;
}
.aside--nav-list li a:hover {
  text-decoration: underline;
}
.aside--nav-list li a i {
  color: #919ca1;
}

/*------------------------------------------------------------------------------

    Sticky bar

------------------------------------------------------------------------------*/
.sticky-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  /*text-align: center;*/
  width: 100%;
  height: 70px;
  font-size: 1.15em;
}

.sticky-bar__message {
  display: inline-block;
}

.js-unsaved-message {
  display: none;
}

.sticky-bar--unsaved {
  background: rgba(56, 63, 68, 0.85);
  /*display: none;*/
  color: #ffffff;
  padding-top: 1.15em;
}

.sticky-bar--saved {
  background-color: #32a066;
  color: #fff;
  display: none;
  padding-top: 1.5em;
}

.sticky-bar--failure {
  /*background-color: #ef402f;*/
  background-color: #f7a9a1;
  color: #a06d68;
  display: none;
  padding-top: 1.5em;
}

.sticky-bar--failure a {
  color: #383f44;
}

.sticky-bar--failure a:hover {
  text-decoration: none;
}

.sticky-bar__message {
  margin-right: 1em;
  padding-left: 2.35em;
}

.sticky-bar__dismiss {
  position: absolute;
  right: 1.4em;
  top: 1.4em;
}

.sticky-bar__dismiss a {
  text-decoration: none;
}

.sticky-bar__dismiss i:hover {
  color: #a06d68;
}

/* ** Get rid of this thing once you figure out a better place
to put the stuff inside. */
.module {
  margin: 2em 0 1em 0;
}

.module--config-table {
  margin-top: 1em;
}

.dashboard-main {
  width: 75%;
  padding: 1em 3em 0 2em;
  float: left;
}

.config-panel-wrapper {
  max-width: 1080px;
  padding: 2em 1em;
  margin: 0 auto;
}

.config-panel-wrapper div.actions {
    text-align:center;
}

.config-panel-wrapper div.actions a {
    margin:1em;
}

.config-panel-wrapper .config__form label {
    /* width:70px; */
}

.config-panel-wrapper .config__form dl dt input[type=checkbox] {
    margin:0;
}

.uninstalled {
    color:#999;
}

.config-panel-wrapper .config__form dl dt {
    float:left;
    clear:left;
    width:7em;
}

.config-panel-wrapper .config__form dl dd {
}

.config-panel-wrapper span.label-description {
    /*position:absolute;
    left:10em;*/
    /* margin-right:0.5em; */
}

@media screen and (max-width: 850px) {
  .dashboard-main {
    float: none;
    width: 100%;
    padding: 1em;
  }
}
/* Key for icons */
.key {
  color: #919ca1;
  margin-top: 1.5em;
}

.key__items {
  list-style-type: none;
  margin: 0;
}

.key__item {
  display: inline-block;
  margin-right: 1em;
  font-size: .875em;
}

.key__item:last-child {
  margin-right: 0;
}

.key__item--normal i {
  color: #ef402f;
}

.key__item--vm i {
  color: #e5b53e;
}

.key__item--small i {
  color: #32a066;
}

/*------------------------------------------------------------------------------

    Tab navigation

------------------------------------------------------------------------------*/
.nav-tabs {
  display: block;
  margin-top: 1em;
  border-bottom: 1px solid #ddd;
}

.nav-tabs__panel {
  border: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
  margin-right: -4px;
}
.nav-tabs__panel:first-child {
  border-top-left-radius: 4px;
}
.nav-tabs__panel:last-child {
  border-right: 1px solid #ddd;
  border-top-right-radius: 4px;
}
.nav-tabs__panel a {
  background-color: #f7f7f7;
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  color: #0089ff;
}
.nav-tabs__panel a:hover {
  background-color: #f1f1f1;
  color: #a5d5ff;
}

.nav-tabs__panel--active a, .nav-tabs__panel.active a {
  background-color: #ddd;
  cursor: default;
  color: #999;
  border-color: #0089ff;
}
.nav-tabs__panel--active, .nav-tabs__panel.active a:hover {
  background-color: #ddd;
  color: #999;
}

/*------------------------------------------------------------------------------

    Config forms

------------------------------------------------------------------------------*/
.config__form {
  padding: 2em 0;
  margin-bottom: 6em;
}

.config__breadcrumbs {
    /*background-color: #f7f7f7;*/
    padding: .85em;
    text-align: right;
}

.config__breadcrumbs a {
    text-decoration: none;
}

/*
  Select2 add servers - Adding a bunch of rules to override conflicts between
  Foundation and Select2 plugin
*/

.select2-search__field {
  box-shadow: none !important;
  transition: none !important;
}

.servers input,
.servers select,
.servers li {
  margin: 0;
}

.select2-container .select2-search--inline .select2-search__field {
  margin: 0 !important;
}

/*------------------------------------------------------------------------------

    Communities module

------------------------------------------------------------------------------*/
.communities,
.servers {
  padding: 1em 0;
}
.communities:after,
.servers:after {
  content: "";
  clear: both;
  display: block;
}

.communities__popular,
.servers__popular, .add_panel {
  display: none;
  padding: 1em 0 0 0;
}

.communities__popular a:hover,
.servers__popular a:hover {
  background-color: #32a066;
}

.communities__popular input,
.servers__popular input {
  /*margin: 0;*/
}

@media screen and (max-width: 850px) {
  .servers__popular input {
    margin-bottom: 1em;
  }
}
.communities__node,
.servers__node {
  position: relative;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 0 .875em .875em 0;
  padding-left: .75em;
  background-color: #f7f7f7;
  overflow: hidden;
}

.communities__node a,
.servers__node a {
  text-decoration: none;
  display: inline-block;
  padding: .25em .5em;
  margin-left: .5em;
  font-size: .875em;
  color: #ef402f;
  border-left: 1px solid #ddd;
}
.communities__node a:hover,
.servers__node a:hover {
  background-color: #ef402f;
  color: white;
}

/*
.communities__add,
.servers__add {
  display: inline-block;
  margin: 1em 0;
}
*/

.servers__options-list {
  list-style: none;
  padding: 0;
  margin: 1.5em 0;
}

.servers__options-item {
  padding: .5em 0;
}

/* Override Foundation's switch color */
.switch input:checked + label {
  background-color: #32a066;
}

.switch-wrapper {
  margin-bottom: 3em;
}

/*------------------------------------------------------------------------------

    Manage NTP servers modal

------------------------------------------------------------------------------*/

.ntp-servers {
  text-align: left;
}

.ntp-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 500px;
  overflow: scroll;
}

.ntp-list__item {
  border-bottom: 1px solid #ddd;
  padding: .5em 1em;
  position: relative;
}

.ntp-list__item:nth-of-type(2n +1) {
  background-color: #f7f7f7;
}

.ntp-list__item:last-child {
  border-bottom: none;
}

.ntp-list__title {
  margin-right: 1em;
  font-weight: 700;
}

.ntp-list__description {
  font-style: italic;
  color: #919ca1;
}

.ntp-list__delete {
  color: #ef402f;
  position: absolute;
  top: .7em;
  right: 1em;
  text-decoration: none;
}

.ntp-list__delete:hover {
  color: #ef402f;
  text-decoration: underline;
}

/*------------------------------------------------------------------------------

    Austin's shame

------------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

/* Modals */

/*
 * Getting rid of this centered text rule because it is cause weird issues
 * inside the modals on some stuff (like graphs) where elements are set to
 * display: inline-block but the text should not be centere.
 *
 * Use Foundation's .text-center utility class instead on the modals that
 * need to have the text centered.

 .reveal-modal {
   text-align: center;
 }


*/

.reveal-modal.loading.ntpclosest {
    width:80%;
    margin-left:20%;
}

.reveal-modal.loading {
  position: fixed;
  overflow: hidden;
  /* top: 50px !important; */
  top:30% !important;  /* previous value */
  left:20% !important;
  height:150px;
  width:300px;
  /*bottom: 50% !important; */
  transform:translate(-40%, 0);

}

.reveal-modal.large {
  position: fixed;
  overflow: scroll;
  top: 50px !important;
  /* top:50% !important; */ /* previous value */
  left:50% !important;
  bottom: 50px !important;
  transform:translate(-50%, 0);

}

.reveal-modal.xlarge {
  /*width: 95%;*/
  position: fixed;
  overflow: scroll;
  top: 30px !important;
/*  left:95% !important;
  transform:translate(-97%, 0);

  bottom: 50px !important;
*/
}

.reveal-modal-bg { position: fixed; }

.reveal-modal__heading {
  font-weight: 700;
  font-size: 1.15em;
  margin-top: 1.5em;
}

.reveal-modal__heading:first-child {
  margin-top: 0;
  margin-bottom: 1em;
}

.reveal-modal__heading--large {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
}

.reveal-modal .close-reveal-modal {
  font-size: 1.5em;
}

/*
**  Test config table styling
*/

.subrow td {
  /*padding-left: 3.5em;*/
  /*background-color: #eee;*/
  line-height: 1.25em;
}

.subrow input {
  margin: 0;
}

.subrow--heading td {
  background-color: #ddd;
  border-top: 1px solid #ccc;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: .25em .5em;
}

.subrow--content {
  border-top: 1px solid #ddd;
}

.subrow--indent td:first-child {
  padding-left: 3em;
}

/*.subrow--content td:first-child {
  padding-left: 3em;
}*/

.subrow--content td a {
  display: inline-block;
  margin-right: 1em;
  color: #383f44;
}

.subrow--content td a:hover {
  color: #999;
}

.subrow--content td:first-child {
  font-weight: 700;
}

.new-host-save {
  display: none;
}

table .has-tip {
    border-bottom:none;
    font-weight:inherit;
    color:inherit;
}

table .has-tip:hover {
    border-bottom:none;
}
