.ip_address { 
    font-weight: normal;
    font-size:0.7em;
}

.select2-container .select2-selection--single {
    height:37px;
    padding:5px 0;
}

.select2-container .select2-selection {
    margin-bottom:1em;
}


.js-subrow {
    display:none;
}

tr.subrow.last td {
        padding-bottom: 1em;
}

tr.last {
    float:none;
}

tr.js-subrow.expanded {
    display:table-row;
}

label.space { 
    margin-bottom: 3px; 
}

#configureTestForm .window_size { 
    display: none; 
}

#configureTestForm .window_size.active { 
    display: block; 
}

.switch_label { 
    vertical-align:top;
    margin-left:1em;
}

.switch_label_large {
    vertical-align:top;
    font-size:120%; 
    margin-left:1em;
}

table.test_results tr.no_data td.test-values {
    color: #CCC;
}

table.test_results tr.no_data td.test-values span.loading {
    vertical-align:middle;
    font-weight:normal;
    display:block;
}

/*
table.test_results tr.data td.test-values.loading {
    display:none;
}

table.test_results tr.no_data td.test-values.data {
    display:none;
}
*/
