.ip_address { 
    font-weight: normal;
    font-size:0.7em;
}

.select2-container .select2-selection--single {
    height:37px;
    padding:5px 0;
}

.select2-container .select2-selection {
    margin-bottom:1em;
}


.js-subrow {
    display:none;
}

tr.subrow.last td {
        padding-bottom: 1em;
}

tr.last {
    float:none;
}

tr.js-subrow.expanded {
    display:table-row;
}
