module perfsonar-toolkit 1.0;

require {
	type configfs_t;
	type cron_log_t;
	type httpd_log_t;
	type httpd_t;
	type init_t;
	type init_var_lib_t;
	type init_var_run_t;
	type nscd_var_run_t;
	type rpm_var_lib_t;
	type systemd_systemctl_exec_t;
	type unconfined_service_t;
	type var_lib_t;
	type var_log_t;
	type var_run_t;
	type lsregistrationdaemon_etc_t;
	type sysctl_net_t;
	class dbus { send_msg };
	class dir { ioctl read getattr lock search open };
	class file { getattr open read unlink ioctl lock execute execute_no_trans };
	class lnk_file { read getattr };
	class system { status };
	class rawip_socket { create };
	class capability { net_raw };
	class rawip_socket { getopt read setopt write };
}

#============= httpd_t ==============

# check service status
allow httpd_t systemd_systemctl_exec_t:file { getattr execute read open execute_no_trans };
allow httpd_t init_t:dir { getattr search };
allow httpd_t init_t:file { read open };
allow httpd_t init_t:lnk_file read;
allow httpd_t unconfined_service_t:dir { getattr search };
allow httpd_t unconfined_service_t:file { read open };
allow httpd_t var_run_t:file { read open ioctl getattr };
allow httpd_t init_var_run_t:file { read open ioctl getattr };
allow httpd_t init_t:dbus send_msg;
allow httpd_t init_t:system status;

# remove .web_admin.log.LCK
allow httpd_t httpd_log_t:file unlink;

# read /var/lib/perfsonar/lsregistrationdaemon/client_uuid
allow httpd_t init_var_lib_t:file { open read };

# read /etc/perfsonar/lsregistrationdaemon.conf
allow httpd_t lsregistrationdaemon_etc_t:file { open read };

# read rpm db
allow httpd_t rpm_var_lib_t:dir { ioctl read getattr lock search open };
allow httpd_t rpm_var_lib_t:file { ioctl read getattr lock open };

# read /var/lib/perfsonar/lscache
allow httpd_t init_var_lib_t:file { getattr ioctl open read };
allow httpd_t var_lib_t:file { getattr ioctl open read };

# nscd access
allow httpd_t nscd_var_run_t:file read;

# read logs for web admin
allow httpd_t cron_log_t:file { read open };
allow httpd_t var_log_t:file { read open };
allow httpd_t var_log_t:lnk_file { getattr read };

# df access for host get_health
allow httpd_t configfs_t:dir getattr;

# reverse_traceroute.cgi
allow httpd_t self:rawip_socket create;
allow httpd_t self:capability net_raw;
allow httpd_t self:rawip_socket { getopt read setopt write };

#read tcp sysctl settings
allow httpd_t sysctl_net_t:file { open read };