<?xml version="1.0" encoding="utf-8"?>
<!-- JNLP File for JOWPing -->
  <jnlp
  codebase="[% codebase_url %]"
  href="index.cgi">
    <information>
       <title>JOWPing</title>
       <vendor>Internet2</vendor>
       <description>JOWPing</description>
       <description kind="short">A client application for the OWAMP protocol</description>
       <offline-allowed/>
     </information>
     <security>
       <all-permissions/>
     </security>
     <resources>
       <j2se version="1.5+"/>
       <jar href="JOWPing.jar"/>
     </resources>
     <application-desc main-class="JOWPing_GUI">
       [% IF owampd_address %]<argument>host=[% owampd_address %]</argument> <!-- any string accepted -->[% END %]
       <argument>servertoclient=true</argument> <!-- true or false -->
       <argument>clienttoserver=true</argument> <!-- true or false -->
       <argument>numberofpackets=100</argument> <!-- positive integer -->
       <argument>scheduletype=simple</argument> <!-- simple or complex -->
       <argument>packetinterval=poisson</argument> <!-- poisson or fixed -->
       <argument>meantime=100</argument> <!-- positive integer -->
       <argument>complexschedule=poisson:100,fixed:100</argument>  <!-- any string accepted -->
       <argument>mode=open</argument> <!-- open, authenticated or encrypted -->
       <argument>username=</argument> <!-- any string accepted -->
       <argument>password=</argument> <!-- any string accepted -->
       <argument>sessionstarttime=3</argument> <!-- integer -->
       <argument>timeout=5000</argument> <!-- positive integer -->
       <argument>paddinglength=0</argument> <!-- non-negative integer -->
       <argument>paddingallzero=false</argument> <!-- true or false -->
       <argument>debug=false</argument> <!-- true or false -->
       <argument>hideadvancedtab=false</argument> <!-- true or false -->
       <argument>hideschedulingtab=false</argument> <!-- true or false -->
       <argument>hideauthenticationtab=false</argument> <!-- true or false -->
     </application-desc>
</jnlp>
