/*------------------------------------------------------------------------------

    Utilities

------------------------------------------------------------------------------*/
/* Color classes */
.color-primary {
  color: #0089ff !important;
}

.color-bg-accent {
  color: #f7f7f7 !important;
}

.color-light, .test_results .host_ip {
  color: #a9b1b5 !important;
}

.color-medium {
  color: #4d565b !important;
}

.color-black {
  color: #383f44 !important;
}

.color-success {
  color: #a2d4ba !important;
}

.color-message {
  color: #f3dda8 !important;
}

.color-failure {
  color: #f7a9a1 !important;
}

.color-disabled {
  color: #a9b1b5 !important;
}

.color-red, #host_services .off {
  color: #ef402f !important;
}

.color-yellow {
  color: #e5b53e !important;
}

.color-green, #host_services .running {
  color: #32a066 !important;
}

#host_services .disabled {
  color: #A9B1B5;  
}

/* Typography classes */
.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-size--small {
  font-size: 0.8em;
}

/* Float classes */
.left {
  float: left;
}

.right {
  float: right;
}

/* Visibility classes */
.hidden {
  display: none;
}

.visible-inline {
  display: inline-block;
}

.display-inline {
  display: inline-block !important;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------------------------------------------------

    Base styles

------------------------------------------------------------------------------*/
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  color: #383f44;
  /* Set base font-size to 14px to start out with due to how much text is on
  ** the screen at one time
  */
  font-size: 87.5%;
}

html,
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  color: #383f44;
}

a {
  color: #0089ff;
  text-decoration: underline;
}
a:hover {
  color: #a5d5ff;
}

a:focus {
  color: #006dcc;
}

/*
** These rules overide Foundation's more specific styles for lists
** Switching these to em make the relational to the base font size
** that we can adjust if we want to scale up the font on bigger screens.
*/
ol,
ul,
dl {
  font-size: 1em;
}

p {
  font-size: 1em;
}

/* End text-level Foundation overides */
strong {
  font-weight: 700;
}

select {
  margin-bottom: 1em;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
** Foundation overrides
** We need these rules to override some of the Foundation grid functionality
** to make it match the fluid nature of the app.
*/
.row {
  max-width: 100%;
}

/*------------------------------------------------------------------------------

    Utitilities

------------------------------------------------------------------------------*/
/*
** Make an unordered list display inline, remove list style, and margins
*/
.u-list-nav {
  list-style-type: none;
  margin: 0;
}
.u-list-nav li {
  display: inline-block;
}

/*------------------------------------------------------------------------------

    Grid 

------------------------------------------------------------------------------*/
.container {
  max-width: 100%;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container:before {
  content: "";
  display: block;
  clear: both;
}

.collapse .unit:first-child {
  padding-left: 0;
}
.collapse .unit:last-child {
  padding-right: 0;
}

.unit {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.unit:after {
  content: "";
  display: block;
  clear: both;
}

.container.kill-vertical .unit {
  padding-top: 0;
  padding-bottom: 0;
}

/* Get rid of container padding when grids are nested */
.container .container .unit {
  padding-top: 0;
}
.container .container .unit:first-child {
  padding-left: 0;
}
.container .container .unit:last-child {
  padding-right: 0;
}

.centered {
  margin: 0 auto;
  float: none !important;
}

.last {
  float: right;
}

.whole {
  width: 100%;
}

.half {
  width: 50%;
}

.one-third {
  width: 33.33333%;
}

.two-thirds {
  width: 66.666666666667%;
}

.one-fourth {
  width: 25%;
}

.three-fourths {
  width: 75%;
}

.one-fifth {
  width: 20%;
}

.two-fifths {
  width: 40%;
}

.three-fifths {
  width: 60%;
}

.four-fifths {
  width: 80%;
}

/* Push and pull classes */
.push {
  float: right;
}

.pull {
  float: left;
}

.container > .unit.pull {
  padding-left: 0;
  padding-right: 24px !important;
}

.container > .unit.push {
  padding-right: 0;
  padding-left: 24px !important;
}

/* List grid */
ul.list-grid-fourths {
  display: block;
  list-style-type: none;
  margin: -24px;
}
ul.list-grid-fourths:after {
  content: "";
  display: block;
  clear: both;
}
ul.list-grid-fourths li {
  display: block;
  float: left;
  width: 25%;
  padding: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.list-grid-thirds {
  display: block;
  list-style-type: none;
  margin: -24px;
}
ul.list-grid-thirds:after {
  content: "";
  display: block;
  clear: both;
}
ul.list-grid-thirds li {
  display: block;
  float: left;
  width: 33.333333333333%;
  padding: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .unit {
    float: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .unit .container .unit:first-child {
    padding-top: 0;
  }

  .container .container .unit {
    padding: 24px 0;
  }

  /* Small grid - This will keep the proportions of the grid even on small devices */
  .container.small-grid .unit.half {
    width: 50%;
    float: left;
  }

  .container.small-grid .unit.one-third {
    width: 33.333333333333%;
    float: left;
  }

  .container.small-grid .unit.two-thirds {
    width: 66.666666666667%;
    float: left;
  }

  .container.small-grid .unit.one-fourth {
    width: 25%;
    float: left;
  }

  .container.small-grid .unit.three-fourths {
    width: 75%;
    float: left;
  }

  .container.small-grid .unit.one-fifth {
    width: 20%;
    float: left;
  }

  .container.small-grid .unit.two-fifths {
    width: 40%;
    float: left;
  }

  .container.small-grid .unit.three-fifths {
    width: 60%;
    float: left;
  }

  .container.small-grid .unit.four-fifths {
    width: 80%;
    float: left;
  }

  .whole,
  .half,
  .one-third,
  .two-thirds,
  .one-fourth,
  .three-fourths,
  .one-fifth,
  .two-fifths,
  .three-fifths,
  .four-fifths {
    width: 100% !important;
  }

  .push,
  .pull {
    float: none;
  }

  .container > .unit.pull {
    padding-left: 0;
    padding-right: 0 !important;
  }

  .container > .unit.push {
    padding-right: 0;
    padding-left: 0 !important;
  }

  ul.list-grid-fourths li {
    width: 100%;
    float: none;
  }

  ul.list-grid-thirds li {
    width: 100%;
    float: none;
  }
}
/*------------------------------------------------------------------------------

    Main app header

------------------------------------------------------------------------------*/
.app-header {
  padding: 1em 2em;
  background-color: #383f44;
  color: white;
}
.app-header:after {
  content: "";
  clear: both;
  display: block;
}
.app-header h1 {
  margin: 0;
  color: white;
  font-size: 1em;
  padding-top: .15em;
}
.app-header h1 a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 580px) {
  .app-header {
    padding: 1em 12px;
  }
}
.app-logo {
  float: left;
}
.app-logo h1 {
  font-size: 1.35em;
}

@media screen and (max-width: 580px) {
  .app-logo h1 {
    font-size: .9em;
  }
}
.app-nav {
  float: right;
  text-align: right;
}
.app-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.app-nav ul li {
  display: inline-block;
  margin-right: 1.25em;
}
.app-nav ul li:last-child {
  margin-right: 0;
}
.app-nav ul li a {
  color: white;
  display: inline-block;
  padding: .25em .5em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.app-nav ul li a:hover {
  background-color: #0089ff;
  border-color: #0089ff;
  color: white;
}
.app-nav ul li a:hover i {
  color: white;
}
.app-nav ul li a i {
  display: inline-block;
  margin: 0 .25em;
  color: white;
}

@media screen and (max-width: 580px) {
  .app-nav ul li {
    margin-right: .8em;
  }

  .app-nav ul li a {
    font-size: .8em;
  }
}
/* Dropdowns */
li.nav-dropdown {
  position: relative;
}

li.nav-dropdown ul.nav-dropdown-menu {
  display: none;
  position: absolute;
  min-width: 250px;
  top: 42px;
  right: 0px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px #ccc;
  -moz-box-shadow: 0px 2px 2px #ccc;
  -o-box-shadow: 0px 2px 2px #ccc;
  box-shadow: 0px 2px 2px #ccc;
}
li.nav-dropdown ul.nav-dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent white;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  right: 25px;
  z-index: 99;
}
li.nav-dropdown ul.nav-dropdown-menu li {
  display: block;
  margin: 0;
  text-align: left;
}
li.nav-dropdown ul.nav-dropdown-menu li a {
  display: block;
  margin: 0;
  padding: 8px 10px;
  border: none;
  border-radius: 0;
  color: #4d565b;
}
li.nav-dropdown ul.nav-dropdown-menu li a:hover {
  background-color: #ddd;
  color: #0089ff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.nav-dropdown-menu.visible {
  display: block !important;
}

/*------------------------------------------------------------------------------

    Footer

------------------------------------------------------------------------------*/
.site-footer {
  display: block;
  padding: 2em;
  margin-top: 5em;
  text-align: right;
  color: #a9b1b5;
  border-top: 1px solid #ddd;
}

/*------------------------------------------------------------------------------

    Main sidebar nav

------------------------------------------------------------------------------*/
.sidebar {
  width: 25%;
  float: left;
  min-height: 100%;
  background-color: #f7f7f7;
  border-left: 1px solid #ddd;
  float: right;
}

@media screen and (max-width: 850px) {
  .sidebar {
    width: 100%;
    float: none;
    padding: 0 1em;
  }
}
.sidebar__heading {
  font-size: 1em;
  font-weight: 700;
  background-color: #eaeaea;
  margin: 1em 0 0 0;
  padding: 1em 1.5em;
}
.sidebar__heading i {
  color: #4d565b;
}
.sidebar__heading:first-of-type {
  margin-top: 0;
}

.sidebar-list {
  display: block;
  list-style-type: none;
  margin: 0;
}

.sidebar-list li {
  padding: .5em 1em .5em 1.5em;
  border-bottom: 1px solid #ddd;
}
.sidebar-list li:after {
  content: "";
  clear: both;
  display: block;
}
.sidebar-list li:last-child {
  border-bottom: none;
}

.sidebar-list li a {
  text-decoration: none;
}

.sidebar-list__parameter {
  width: 50%;
  float: left;
  overflow-wrap: break-word;
  color:#a9b1b5;
}

.sidebar-list__value {
  float: left;
  width: 50%;
  overflow-wrap: break-word;
}

    /*------------------------------------------------------------------------------

    Breadcrumbs

------------------------------------------------------------------------------*/
.nav--breadcrumbs {
  padding: 0;
  margin-bottom: 2em;
}
.nav--breadcrumbs li:after {
  content: "/";
  display: inline-block;
  margin: 0 10px;
  color: #a9b1b5;
}
.nav--breadcrumbs li:last-child:after {
  content: "";
}

.nav--breadcrumbs li a,
.nav--breadcrumbs li a i {
  color: #a9b1b5;
}

.nav--breadcrumbs li a:hover,
.nav--breadcrumbs li a:hover i {
  color: #0089ff;
}

.nav--breadcrumbs li.active a,
.nav--breadcrumbs li.active a i {
  color: #0089ff;
  cursor: default;
}

/*------------------------------------------------------------------------------

    Tables

------------------------------------------------------------------------------*/
table {
  border: none;
  font-size: 1em !important;
  width: 100%;
  overflow: auto;
}

table tr td {
  font-size: 1em;
  padding: .75em .5em;
}

table thead {
  background-color: transparent;
}

table thead tr th {
  font-weight: 400;
  color: #a9b1b5;
  text-transform: uppercase;
  letter-spacing: .07em;
  padding: .75em .5em;
}

.services {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.services--title {
  /*color: #a9b1b5;*/
  /* color:##383F44; */
  color: #0089FF;
  display: block;
  font-weight: 700;
  text-decoration: none;
}

.services--title-link, .services--title a {
  display: block;
  font-weight: 700;
  text-decoration: none;
}
.services--title-link i {
  color: #a9b1b5;
}

.services--list {
  display: none;
  list-style-type: none;
  margin-top: .75em;
  /* This (-999px) is a hack to fix some weirdness caused by the jQuery toggle we are using */
  padding-left: 1em;
  border-left: 5px solid #ddd;
}
.services--list li {
  padding: .35em 0;
}

.visible-inline {
  display: inline-block;
}

/* Test results */
.test-results:after {
  content: "";
  clear: both;
  display: block;
}
table.test_results tr {
  vertical-align: top;
}
.test-results table tr td span,
.test-results table tr td a {
  display: block;
  line-height: 1.5;
}
.test_results .traceroute_link_container.has_traceroute {
    display:inline;
}
.test_results .traceroute_link_container {
    display:none;
}

/* Pay special attention here. For some reason, this fontawesome override doesn't work with .test-results, only .test_results. */
.test_results i.fa {
  font-size: 10px;
  color: #a9b1b5;
}

td.test-values {
  font-weight:bold;
}

.test-results--warnings {
  list-style-type: none;
  margin: 0;
}

@media screen and (max-width: 580px) {
  .test-results, .services {
    overflow-x: scroll;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 1em;
  }
}
/*------------------------------------------------------------------------------

    Forms

------------------------------------------------------------------------------*/
label {
  color: #4d565b;
}

fieldset {
  border-color: #ddd;
  background-color: #f7f7f7;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/*------------------------------------------------------------------------------

    Alerts

------------------------------------------------------------------------------*/
/* Altert colors */
.alert-success {
  color: #a2d4ba;
}

.alert-message {
  color: #f3dda8;
}

.alert-failure {
  color: #f7a9a1;
}

.alert-disabled {
  color: #a9b1b5;
}

.alert-message--bg {
  background-color: #f3dda8;
}

.alert-failure--bg {
  background-color: #f7a9a1;
}

/* Block alerts - these will fill the full width of the parent container */
.alert-small-success, .alert-small-success--inline {
  position: relative;
  display: block;
  margin: 1em 0;
  padding: .2em .45em;
  background-color: #a2d4ba;
  color: #698978;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.alert-small-success i, .alert-small-success--inline i {
  color: #698978;
}

.alert-small-message, .alert-small-message--inline {
  position: relative;
  display: block;
  margin: 1em 0;
  padding: .2em .45em;
  background-color: #f3dda8;
  color: #9d8f6d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.alert-small-message i, .alert-small-message--inline i {
  color: #9d8f6d;
}

.alert-small-failure, .alert-small-failure--inline {
  position: relative;
  display: block;
  margin: 1em 0;
  padding: .2em .45em;
  background-color: #f7a9a1;
  color: #a06d68;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.alert-small-failure i, .alert-small-failure--inline i {
  color: #a06d68;
}

/* Inline Alerts - these will display inline and will only be the width of the content inside */
.alert-small-success--inline {
  display: inline-block;
}

.alert-small-message--inline {
  display: inline-block;
}

.alert-small-failure--inline {
  display: inline-block;
}

.alert-small-failure a, .alert-small-failure--inline a,
.alert-small-message a,
.alert-small-message--inline a,
.alert-small-success a,
.alert-small-success--inline a {
  color: #383f44;
}
.alert-small-failure a:hover, .alert-small-failure--inline a:hover,
.alert-small-message a:hover,
.alert-small-message--inline a:hover,
.alert-small-success a:hover,
.alert-small-success--inline a:hover {
  color: #9b9fa1;
}

.alert--dismiss {
  display: inline-block;
  position: absolute;
  top: 0;
  right: .65em;
}

/*------------------------------------------------------------------------------

    Buttons

------------------------------------------------------------------------------*/
button,
input[type="submit"],
input[type="button"],
.button-primary,
.button-primary:hover,
.button-primary--small,
.button-primary--small:hover,
.button-secondary,
.button-secondary:hover,
.button-secondary--small,
.button-secondary--small:hover,
.button-alternate,
.button-alternate:hover,
.button-alternate--small,
.button-alternate--small:hover,
input.button-primary,
input.button-primary--small,
input.button-secondary,
input.button-secondary--small,
input.button-alternate,
input.button-alternate--small {
  display: inline-block;
  margin: 1em 1em 0 0;
  padding: .25em .45em;
  line-height: 1.65;
  min-width: 120px;
  min-height: 37px;
  color: white;
  background-color: #0089ff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-decoration: none;
  border-radius: 4px;
}

.button-primary,
.button-primary--small,
input.button-primary,
input.button-primary--small {
  background-color: #0089ff;
}
.button-primary:hover,
.button-primary--small:hover,
input.button-primary:hover,
input.button-primary--small:hover {
  background-color: #0074d8;
}

.button-secondary,
.button-secondary--small,
input.button-secondary,
input.button-secondary--small {
  background-color: #32a066;
}
.button-secondary:hover,
.button-secondary--small:hover,
input.button-secondary:hover,
input.button-secondary--small:hover {
  background-color: #2a8856;
}

.button-alternate,
.button-alternate--small,
input.button-alternate,
input.button-alternate--small {
  background-color: #ef402f;
}
.button-alternate:hover,
.button-alternate--small:hover,
input.button-alternate:hover,
input.button-alternate--small:hover {
  background-color: #cb3627;
}

.button-quiet,
.button-quiet--small,
input.button-quiet,
input.button-quiet--small {
  background-color: transparent;
  border: 1px solid #a9b1b5;
  color: #4d565b;
}
.button-quiet:hover,
.button-quiet--small:hover,
input.button-quiet:hover,
input.button-quiet--small:hover {
  background-color: #8f9699;
}

.button-primary--small,
.button-secondary--small,
.button-alternate--small,
input.button-primary--small,
input.button-secondary--small,
input.button-alternate--small,
.button-primary--small:hover,
.button-secondary--small:hover,
.button-alternate--small:hover,
input.button-primary--small:hover,
input.button-secondary--small:hover,
input.button-alternate--small:hover {
  padding: .25em .45em;
  line-height: 1.65;
}

.buton-primary--hallow {
  display: inline-block;
  background-color: none;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: .25em .5em;
  border-radius: 4px;
  margin: 0;
}
.buton-primary--hallow:hover {
  background-color: #0089ff;
  border-color: #0089ff;
  color: #fff;
}

.overview {
  background-color: #f7f7f7;
  position: relative;
  padding: 1em 1em 1em 2em;
  margin: 1em 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dedede;
}

.overview--list {
  margin-bottom: 0;
}
.overview--list dt, .overview--list dd {
  float: left;
  margin-bottom: 0;
}
.overview--list dt {
  clear: both;
  margin-right: .65em;
}

.overview--list:after {
  content: "";
  clear: both;
  display: block;
}

.overview--title {
  font-size: 1.75em;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: .65em;
}
.overview--title i {
  margin-left: -20px;
  color: #ef402f;
}

.overview--edit {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  padding: .75em 1em;
  color: #0089ff;
  text-decoration: none;
}
.overview--edit i {
  color: #0089ff;
}
.overview--edit:hover {
  text-decoration: underline;
  color: #a5d5ff;
}
.overview--edit:hover i {
  text-decoration: underline;
  color: #a5d5ff;
}

/* Module header block */
.module-header {
  position: relative;
  padding: .5em;
  background-color: #4d565b;
}

.module-header__title {
  font-size: 1.25em;
}

.module-header .module-header__title {
  margin: 0;
}

.module-header__action {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  padding: .6em .75em;
  border-left: 1px solid #353b40;
  color: #f7f7f7;
  text-decoration: none;
}
.module-header__action:hover i {
  color: #a5d5ff;
}
.module-header__action i {
  color: #f7f7f7;
}

@media screen and (max-width: 580px) {
  .module-header .module-header__action {
    display: block;
    position: relative;
    top: 0;
    border-left: none;
    padding: 0;
  }

  .module-header .module-header__title {
    display: block;
  }
}
/*------------------------------------------------------------------------------

    Aside - Components/modules use in sidebars, etc. for secondary
    or subordinate information.

------------------------------------------------------------------------------*/
.aside {
  position: relative;
  margin: 2em 0;
  background-color: #f7f7f7;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.aside a:hover {
  color: #a5d5ff;
}

.aside__heading {
  font-size: 1em;
  font-weight: 700;
  padding: .825em;
  margin-top: 0;
  background-color: #ddd;
}

.aside__list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: .825em;
}

.aside__list li {
  padding: .35em 0;
}
.aside__list li:after {
  content: "";
  clear: both;
  display: block;
}
.aside__list li:first-child {
  padding-top: 0;
}

.aside__list li a {
  text-decoration: none;
}

.aside--nav-list {
  list-style-type: none;
  margin: 0 0 1em 0;
}
.aside--nav-list li {
  border-bottom: 1px solid #3d4448;
  padding: .35em 0;
}
.aside--nav-list li:last-child {
  border-bottom: none;
}
.aside--nav-list li a {
  text-decoration: none;
  color: #a9b1b5;
}
.aside--nav-list li a:hover {
  text-decoration: underline;
}
.aside--nav-list li a i {
  color: #a9b1b5;
}

/*------------------------------------------------------------------------------

    Sticky bar

------------------------------------------------------------------------------*/
.sticky-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: 70px;
  font-size: 1.15em;
}

.sticky-bar--unsaved {
  background: rgba(56, 63, 68, 0.85);
  display: none;
  color: #ffffff;
  padding-top: 1.15em;
}

.sticky-bar--saved {
  background-color: #32a066;
  color: #fff;
  display: none;
  padding-top: 1.5em;
}

.sticky-bar__message {
  margin-right: 1em;
}

.sticky-bar__dismiss {
  position: absolute;
  right: 1.35em;
  top: 1.35em;
}

/* ** Get rid of this thing once you figure out a better place
to put the stuff inside. */
.module {
  margin: 2em 0;
}

.dashboard-main {
  width: 75%;
  padding: 1em 3em 0 2em;
  float: left;
}

.config-panel-wrapper {
  max-width: 1080px;
  padding: 2em 1em;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .dashboard-main {
    float: none;
    width: 100%;
    padding: 1em;
  }
}
/* Key for icons */
.key {
  color: #a9b1b5;
  margin-top: 1.5em;
}

.key__items {
  list-style-type: none;
  margin: 0;
}

.key__item {
  display: inline-block;
  margin-right: 1em;
  font-size: .875em;
}

.key__item:last-child {
  margin-right: 0;
}

.key__item--normal i {
  color: #ef402f;
}

.key__item--vm i {
  color: #e5b53e;
}

.key__item--small i {
  color: #32a066;
}

/*------------------------------------------------------------------------------

    Tab navigation

------------------------------------------------------------------------------*/
.nav-tabs {
  display: block;
  margin-top: 1em;
  border-bottom: 1px solid #ddd;
}

.nav-tabs__panel {
  border: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
  margin-right: -4px;
}
.nav-tabs__panel:first-child {
  border-top-left-radius: 4px;
}
.nav-tabs__panel:last-child {
  border-right: 1px solid #ddd;
  border-top-right-radius: 4px;
}
.nav-tabs__panel a {
  background-color: #f7f7f7;
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  color: #a9b1b5;
}
.nav-tabs__panel a:hover {
  background-color: #f1f1f1;
  color: #383f44;
}

.nav-tabs__panel--active a {
  background-color: #ddd;
  cursor: default;
  color: #0089ff;
  border-color: #0089ff;
}
.nav-tabs__panel--active a:hover {
  background-color: #ddd;
}

/*------------------------------------------------------------------------------

    Config forms

------------------------------------------------------------------------------*/
.config__form {
  padding: 2em 0;
  margin-bottom: 3em;
}

/*------------------------------------------------------------------------------

    Communities module

------------------------------------------------------------------------------*/
.communities,
.servers {
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}
.communities:after,
.servers:after {
  content: "";
  clear: both;
  display: block;
}

.communities__popular,
.servers__popular {
  display: none;
  padding: 1em 0;
}

.communities__popular a:hover,
.servers__popular a:hover {
  background-color: #32a066;
}

.communities__popular input,
.servers__popular input {
  margin: 0;
}

@media screen and (max-width: 850px) {
  .servers__popular input {
    margin-bottom: 1em;
  }
}
.communities__node,
.servers__node {
  position: relative;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 0 .875em .875em 0;
  padding-left: .75em;
  background-color: #f7f7f7;
  overflow: hidden;
}

.communities__node a,
.servers__node a {
  text-decoration: none;
  display: inline-block;
  padding: .25em .5em;
  margin-left: .5em;
  font-size: .875em;
  color: #ef402f;
  border-left: 1px solid #ddd;
}
.communities__node a:hover,
.servers__node a:hover {
  background-color: #ef402f;
  color: white;
}

.communities__add,
.servers__add {
  display: inline-block;
  margin: 1em 0;
}

/* Override Foundation's switch color */
.switch input:checked + label {
  background-color: #32a066;
}

.switch-wrapper {
  margin-bottom: 3em;
}

/*------------------------------------------------------------------------------

    Austin's shame

------------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.sidebar {
  position: relative;
}

.sidebar:after {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  bottom: -99em;
  height: 99em;
  width: 100%;
  background: #f7f7f7;
  border-left: 1px solid #ddd;
}

/* Modals */
.reveal-modal.xlarge {
  text-align: center;
  max-width:none;
}

.reveal-modal__heading {
  font-weight: 700;
  font-size: 1.15em;
}

.reveal-modal .close-reveal-modal {
  font-size: 1.5em;
}

/*# sourceMappingURL=app.css.map */
