module perfsonar-toolkit 1.0;

require {
	type configfs_t;
	type cron_log_t;
	type httpd_log_t;
	type httpd_sys_content_t;
	type httpd_t;
	type init_t;
	type init_var_lib_t;
	type init_var_run_t;
	type rpm_var_lib_t;
	type systemd_systemctl_exec_t;
	type unconfined_service_t;
	type var_lib_t;
	type var_log_t;
	type var_run_t;
	type lsregistrationdaemon_t;
	type lsregistrationdaemon_etc_t;
	type lsregistrationdaemon_var_lib_t;
	type lsregistrationdaemon_pid_t;
	type owampd_t;
	type twampd_t;
	type owampd_etc_t;
	type twampd_etc_t;
	type owampd_pid_t;
	type twampd_pid_t;
	type sysctl_net_t;
	type systemd_unit_file_t;
	class dbus { send_msg };
	class dir { ioctl read getattr lock search open };
	class file { getattr open read unlink ioctl lock execute execute_no_trans };
	class lnk_file { read getattr };
	class system { status };
	class rawip_socket { create };
	class capability { net_raw };
	class rawip_socket { getopt read setopt write };
	class service { start stop status reload kill load enable disable };
	class netlink_generic_socket create;
}

#============= httpd_t ==============

# check service status
allow httpd_t systemd_systemctl_exec_t:file { getattr execute read open execute_no_trans };
allow httpd_t init_t:dir { getattr search };
allow httpd_t init_t:file { read open };
allow httpd_t init_t:lnk_file read;
allow httpd_t unconfined_service_t:dir { getattr search };
allow httpd_t unconfined_service_t:file { read open };
allow httpd_t lsregistrationdaemon_t:dir { getattr search };
allow httpd_t lsregistrationdaemon_t:file { read open };
allow httpd_t owampd_t:dir { getattr search };
allow httpd_t owampd_t:file { read open };
allow httpd_t twampd_t:dir { getattr search };
allow httpd_t twampd_t:file { read open };
allow httpd_t var_run_t:file { read open ioctl getattr };
allow httpd_t init_var_run_t:file { read open ioctl getattr };
allow httpd_t init_t:dbus send_msg;
allow httpd_t init_t:system status;
allow httpd_t systemd_unit_file_t:file getattr;
allow httpd_t systemd_unit_file_t:service status;

# remove .web_admin.log.LCK
allow httpd_t httpd_log_t:file unlink;

# read lsregistrationdaemon configs
allow httpd_t lsregistrationdaemon_var_lib_t:file { getattr ioctl open read };
allow httpd_t lsregistrationdaemon_etc_t:file { getattr ioctl open read };
allow httpd_t lsregistrationdaemon_pid_t:file { getattr ioctl open read };

#read owamp and twamp configs
allow httpd_t owampd_etc_t:file { getattr ioctl open read };
allow httpd_t twampd_etc_t:file { getattr ioctl open read };
allow httpd_t owampd_pid_t:file { getattr ioctl open read };
allow httpd_t twampd_pid_t:file { getattr ioctl open read };

# read rpm db
allow httpd_t rpm_var_lib_t:dir { ioctl read getattr lock search open };
allow httpd_t rpm_var_lib_t:file { ioctl read getattr lock open };

# read /var/lib/perfsonar/lscache
allow httpd_t init_var_lib_t:file { getattr ioctl open read };
allow httpd_t var_lib_t:file { getattr ioctl open read };

# read logs for web admin
allow httpd_t cron_log_t:file { read open };
allow httpd_t var_log_t:file { read open };
allow httpd_t var_log_t:lnk_file { getattr read };

# df access for host get_health
allow httpd_t configfs_t:dir getattr;

# reverse_traceroute.cgi
allow httpd_t self:rawip_socket create;
allow httpd_t self:capability net_raw;
allow httpd_t self:rawip_socket { getopt read setopt write };

#read tcp sysctl settings
allow httpd_t sysctl_net_t:file { getattr ioctl open read };

#misc
allow httpd_t httpd_sys_content_t:dir write;
allow httpd_t self:netlink_generic_socket create;