
        <aside class="sidebar">
            <nav>
                [% INCLUDE host/sidebar_host_status.html %]
                    
                <h3 class="sidebar__heading"><i class="fa fa-wrench"></i> &nbsp; On-demand testing tools</h3>
                <ul class="sidebar-list">
                    <li><a href="#">Reverse ping</a></li>
                    <li><a href="#">Reverse traceroute</a></li>
                    <li><a href="#">Reverse tracepath</a></li>
                    <li><a href="#">Traceroute Visualization <i class="fa fa-external-link"></i></a></li>
                </ul>

                <h3 class="sidebar__heading"><i class="fa fa-bookmark"></i> &nbsp; Other services</h3>
                <ul class="sidebar-list">
                    <li><a href="#">Global node directory</a></li>
                </ul>
            </nav>
            </aside>
            