
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticated User | perfSONAR</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/jquery/jquery-1.11.2.min.js"></script>
    <!-- <script src="js/jquery/jquery-1.7.2.js"></script> -->
    <script src="js/vendor/modernizr.js"></script>
    [% FOREACH file IN css %]
        <link rel="stylesheet" href="[% file %]" />
    [% END %]
    [% FOREACH file IN js_files %]
    <script src="[% file %]"></script>
    [% END %]
</head>

<body>

    
