Source: perfsonar-toolkit
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Build-Depends: debhelper (>= 10), quilt, dh-exec,
 libperfsonar-perl, libperfsonar-toolkit-perl,
 libperfsonar-psconfig-perl,
 perfsonar-psconfig-pscheduler,
 libtest-mockobject-perl, libfile-copy-recursive-perl,
 libtest-deep-perl, libcgi-pm-perl, libperfsonar-sls-perl
Standards-Version: 3.9.8
Homepage: http://www.perfsonar.net/
Vcs-Git: git://github.com/perfsonar/toolkit
Vcs-Browser: https://github.com/perfsonar/toolkit

Package: perfsonar-toolkit
Architecture: all
Depends: libperfsonar-perl,
 lsb-base, libxml-simple-perl, libcgi-pm-perl,
 libsys-statistics-linux-perl, libperfsonar-sls-perl,
 perfsonar-toolkit-library, liblog-dispatch-filerotate-perl,
 libcgi-ajax-perl, libcgi-session-perl, libjson-xs-perl, systemd,
 perfsonar-common, unattended-upgrades, ntp, ethtool, iproute2,
 libperfsonar-toolkit-perl, perfsonar-lsregistrationdaemon,
 libperfsonar-psconfig-perl, perfsonar-psconfig-pscheduler,
 perfsonar-psconfig-publisher, 
 perfsonar-toolkit-config-daemon, perfsonar-core,
 perfsonar-grafana-toolkit, perfsonar-toolkit-install,
 perfsonar-toolkit-systemenv, perfsonar-toolkit-web-services, python3,
 ${perl:Depends}, ${misc:Depends}
Description: perfSONAR Toolkit web GUI
 perfSONAR Toolkit web GUI and associated services.

Package: perfsonar-toolkit-library
Architecture: all
Depends: libperfsonar-perl, ${misc:Depends}
Description: perfSONAR Toolkit perl libraries
 Perl libraries for perfSONAR Toolkit.

Package: perfsonar-toolkit-web-services
Architecture: all
Depends: libperfsonar-perl, perfsonar-toolkit-library, apache2, apache2-utils, ssl-cert, libcgi-pm-perl, liblog-dispatch-filerotate-perl, libjson-xs-perl, libxml-simple-perl, ${misc:Depends}, ${perl:Depends}
Breaks: perfsonar-toolkit (<< 5.0.0~b2.2)
Description: perfSONAR Toolkit Web Services host API
 Contains web service for information used in monitoring a perfSONAR host

Package: perfsonar-toolkit-security
Architecture: all
Depends: firewalld (>= 0.3.12), fail2ban, ${misc:Depends}
Conflicts: iptables-persistent, netfilter-persistent
Description: perfSONAR Toolkit firewall configuration
 Configures IPTables rules and installs fail2ban for perfSONAR Toolkit.

Package: perfsonar-toolkit-sysctl
Architecture: all
Depends: libperfsonar-perl, ${perl:Depends}, ${misc:Depends}
Conflicts: network-manager
Description: perfSONAR Toolkit sysctl configuration
 Configures sysctl settings for perfSONAR Toolkit.
 These settings are tuning the network stack.
 Conflicts with network-manager.

Package: perfsonar-toolkit-ntp
Architecture: all
Depends: ntp, perfsonar-toolkit-library,
 libperfsonar-toolkit-perl, ${perl:Depends}, ${misc:Depends}
Description: perfSONAR Toolkit ntp configuration
 Configures ntp servers for perfSONAR Toolkit.

Package: perfsonar-toolkit-archive-utils
Architecture: all
Depends: perfsonar-archive
Conflicts: perfsonar-toolkit-esmond-utils
Replaces: perfsonar-toolkit-esmond-utils
Description: perfSONAR Archive configuration
 Configures pscheduler and logstash on perfSONAR hosts.

Package: perfsonar-toolkit-config-daemon
Architecture: all
Depends: perfsonar-toolkit-library, perfsonar-common,
 libperfsonar-toolkit-perl, lsb-base,
 libnet-server-perl, liblog-dispatch-filerotate-perl,
 ${perl:Depends}, ${misc:Depends}
Description: perfSONAR Toolkit configuration daemon
 Manages configuration file and services for perfSONAR Toolkit.

Package: perfsonar-toolkit-install
Architecture: all
Depends: perfsonar-toolkit-library, python3-apt,
 python3, ${misc:Depends}
Description: perfSONAR Toolkit core scripts
 Contains Toolkit installation scripts.

Package: perfsonar-toolkit-systemenv
Architecture: all
Depends: perfsonar-toolkit-security, perfsonar-toolkit-sysctl,
 perfsonar-toolkit-ntp, perfsonar-toolkit-library, perfsonar-psconfig-pscheduler,
 perfsonar-toolkit-systemenv-testpoint, perfsonar-toolkit-config-daemon,
 perfsonar-lsregistrationdaemon,
 ${misc:Depends}
Description: perfSONAR Toolkit system tuning
 Tunes and configures the system according to performance
 and security best practices.

Package: perfsonar-toolkit-systemenv-testpoint
Architecture: all
Depends: systemd, owamp-server,
 perfsonar-psconfig-pscheduler, ${perl:Depends}, ${misc:Depends}
Description: perfSONAR Testpoint system tuning
 Tunes and configures the system according to performance
 and security best practices.
